[2014-11-14 22:24] Eilon opened #5 "Latest points to alpha4 instead of beta1"
In here:

https://github.com/aspnet/aspnet-docker/blob/master/README.md

[2014-11-15 09:22] tugberkugurlu opened #9 "Project Description on GitHub"
Project description on GitHub still indicates "Docker image for ASP.NET vNext". I guess it should be: "Docker image for ASP.NET 5"

[2014-11-15 16:23] giggio opened #10 "Create container for aspnet latest dev version"
Right now dev is beta2-10698 [![dev version](http://img.shields.io/myget/aspnetvnext/v/KRE-CLR-x86.svg?style=flat)](https://www.myget.org/gallery/aspnetvnext) and master is 1.0.0-beta1 [![master version](http://img.shields.io/myget/aspnetmaster/v/KRE-CLR-x86.svg?style=flat)](https://www.myget.org/gallery/aspnetmaster).
We don't get a dev version, only a master. We should always have the option to

[2014-11-16 09:57] #5 closed, assigned to ahmetb

[2014-11-16 15:23] aminjam opened #13 "Error when running container as a deamon"
Currently there is an issue when running the `aspnet` docker container with `-d` flag. I believe it's coming from `k kestrel` command. I can kickoff my web server with `-ti` successfully, but with `-d` flag, it shows that the web server was kicked off, but I can't hit it from outside of the container. Here is how you can reproduce the error.

http://blog.aminjam.com/hello-asp-net-5-on-docker/

[2014-11-16 21:25] #9 closed, assigned to nobody

[2014-11-16 21:26] #13 closed, assigned to nobody

[2014-11-16 23:29] akoeplinger opened #14 "alpha4 tag not available on Docker Hub"
The alpha4 tag doesn't work: `2014/11/17 00:26:55 Tag 1.0.0-alpha4 not found in repository microsoft/aspnet`

Looks like there's an error during the automated build:

![build](https://cloud.githubusercontent.com/assets/1376924/5063693/bf7ed976-6df0-11e4-979d-9172f502ab17.png)

[2014-11-17 18:38] #14 closed, assigned to nobody

[2014-11-23 13:51] arthur-peka opened #18 "Error - "executable file not found in $PATH" when running dockerfile"
As I didn't find any instruction, I assumed that container should be run as a daemon. So, having pulled microsoft/aspnet container I ran `sudo docker run microsoft/aspnet -d` only to get `executable file not found in $PATH` error.

Are there any specific parameters that need to be passed?

[2014-11-26 07:18] ahmetalpbalkan opened #19 "Proposal: ONBUILD image"
For those who are not familiar, Dockerfiles can have an instruction called [ONBUILD](http://docs.docker.com/reference/builder/#onbuild) which invokes the preceding command when the image is used *as a base image* for building another image (typically app image).

Right now simplest ASP.NET **application image** would look like this:

[code]

With the help of ONBUILD directives, we can simplify thi

[2014-12-22 19:16] akoeplinger opened #21 "Update libuv to 1.0.2"
Instead of installing the rc2 version of libuv, we should maybe update to the latest 1.0.2 release.
Additionally, they are now on libuv/libuv instead of joyent/libuv: https://github.com/libuv/libuv/releases/tag/v1.0.2

[2015-01-04 22:38] ahmetalpbalkan commented on #10
This is completed via #20, please close.

[2015-01-04 22:47] ahmetalpbalkan opened #23 "Proposal: CI for ASP.NET Docker image builds"
Every now and then, we worry if the image produced by the merged Dockerfile works correctly or not. For now, the verification is done manually. It is tedious, error-prone and it goes as far as running the sample HelloWeb/HelloMvc apps inside the container, then heading over browser to see if it works.

I hereby propose **using CircleCI** to test these Dockerfiles. Actually **I have prototyped this

[2015-01-04 23:29] friism commented on #23
Travis is awesome, but have you looked at CircleCI? I think they have [native Docker support](https://circleci.com/docs/docker).

[2015-01-05 01:24] giggio commented on #10
Cool!

[2015-01-05 01:24] #10 closed

[2015-01-05 08:12] ahmetalpbalkan commented on #23
@friism, great suggestion. :pray:   I will take a look and see if it can do everything we need. This pretty much addresses all the problems I currently have.

[2015-01-05 11:50] vlesierse commented on #23
Great idea! This could really help for stable releases of Docker images.

[2015-01-05 12:24] ahmetalpbalkan commented on #23
@friism okay, good news and bad news. https://github.com/ahmetalpbalkan/aspnet-docker-integration-tests-circleci

**Good news:** code is complete! CircleCI solves all our problems above. :clap:  [[link]](https://circleci.com/gh/ahmetalpbalkan/aspnet-docker-integration-tests-circleci) I wrote scripts to build all tags and run all apps on it!

We can do all that serially using 1 worker instance (fre

[2015-01-05 12:34] ahmetalpbalkan commented on #23
Okay, found the evil line: https://github.com/aspnet/Hosting/blob/d9237b3a08033aa00f049645ea2f6a3bfcd91fd8/src/Microsoft.AspNet.Hosting/Program.cs#L79

[code]

This should be changed, but I'm not sure how .NET app can handle SIGTERM here and request the shutdown. We need to find something else to block on and yet still supports Ctrl+C. Any ideas? @Tratcher @davidfowl @Eilon

[2015-01-05 12:40] friism commented on #23
@ahmetalpbalkan yeah, that problem is super annoying - @davidfowl says it's getting fixed.

In the Heroku buildpack, I do `sleep 100d | start Kestrel`: https://github.com/friism/heroku-buildpack-mono/blob/aspnet-vnext/bin/compile#L111

Piping output of sleep means that the runner doesn't fall over.

In the past, I also used other hacks like starting the thing inside a detached screen session: http

[2015-01-05 12:46] friism commented on #23
@ahmetalpbalkan also, to debug problems like this I recommend starting with `KRE_TRACE=1`, then you can see the runner getting "Shutdown requested" and whatnot.

[2015-01-05 13:43] ahmetalpbalkan commented on #23
@friism thanks for help, I used the `sleep` piping hack and KRE_TRACE=1 now and fixed the build!  https://circleci.com/gh/ahmetalpbalkan/aspnet-docker-integration-tests-circleci/34

I guess we can start integrating this and connect to CircleCI. I'm not really good at bash scripting, so I'll start with sending a PR with these and we can move from there I guess.

[2015-01-18 04:34] muojp opened #27 "Make kvm command family available by default"
On current image, `kvm` command is not available to container users by default.

Like this (note: same goes on microsoft/aspnet:nightly):

[code]

It's because `kvminstall.sh` doesn't find which .bashrc/.bash_profile/.zshrc/ blah, blah, blah to put K Runtime initialization script into(ref: https://github.com/aspnet/Home/blob/dev/kvminstall.sh#L48-L63 ).

This is not caused by recent changes, but a

[2015-01-18 09:03] ahmetalpbalkan commented on #27
Thanks for bringing this up. I thought about this before and I don't think an user would use `kvm` command inside the container. Container images have already KRE installed and kvm.sh only upgrades KRE (which is something user should do by changing their base image version, or using :latest)

If they just want to play with kvm.sh inside the container, then it also works on my machine:

[code]

bec

[2015-01-19 00:57] ahmetalpbalkan commented on #18
@arthur-peka can you please follow the tutorial here and see if the issue still exists? http://blogs.msdn.com/b/webdev/archive/2015/01/14/running-asp-net-5-applications-in-linux-containers-with-docker.aspx If not, please consider closing.

[2015-01-23 18:19] arthur-peka commented on #18
Thanks, just checked. Tutorial is detailed and everything is running fine.

[2015-01-23 18:19] #18 closed

[2015-01-29 15:03] marrrcin opened #31 "Packages required by kpm as a built-in"
I've tried to build the ASP.NET vNext Starter Web application (default Visual Studio Project) using docker, however the tutorial provided on the site
http://blogs.msdn.com/b/webdev/archive/2015/01/14/running-asp-net-5-applications-in-linux-containers-with-docker.aspx
didn't cover or even mention lots of issues that may occur. Project as simple as the HelloWeb app with barely 3 files inside built c

[2015-01-29 15:09] akoeplinger commented on #31
@marrrcin See https://github.com/aspnet/aspnet-docker/pull/28

[2015-02-03 00:08] ahmetalpbalkan commented on #23
moving on at #24.

[2015-02-03 00:08] #23 closed

[2015-02-04 19:52] ahmetalpbalkan commented on #21
Closing to move on at #22.

[2015-02-04 19:52] #21 closed

[2015-02-14 06:58] mattva01 opened #34 "Remove package list cache to reduce image size"
The size of the image could be significantly reduced by adding "&& rm -rf /var/lib/apt/lists/*" to the apt-get commands in the image. I'd make a pull request, but I haven't signed the CLA yet.

[2015-02-23 11:41] timothyclifford opened #37 "Error building Docker image"
Trying to build an ASP.NET Docker image but getting an intermittent SIGSEGV while restoring packages. It's very strange as it doesn't happen on every restore.

Here's my Dockerfile

[code]

Here's output I'm getting, have seen a few people with similar issues:

[code]

[2015-02-23 17:09] ahmetalpbalkan commented on #37
@timothyclifford I've been seeing this error in early days of developing the image. I can tell it's mono related. If you can live with it, please do so for now. We're planning to replace it with official .NET runtime with Linux once it's out.

[2015-02-23 17:10] ahmetalpbalkan commented on #34
Closing, as we discussed in #35.

[2015-02-23 17:10] #34 closed

[2015-02-23 17:11] ahmetalpbalkan commented on #27
@muojp ping on this. Please close if you're satisfied with the answer.

[2015-03-01 09:38] muojp commented on #27
@ahmetalpbalkan
I'm sorry to get back to you late. Thank you for your detailed answer. There seem no major problems about kvm path handling indeed as you pointed out. I'm closing this issue. I'll open another one once I find other reasons for dealing with kvm.sh.

[2015-03-01 09:38] #27 closed

[2015-03-06 17:59] ahmetalpbalkan commented on #37
@timothyclifford can you still repro?

[2015-03-06 18:00] ahmetalpbalkan commented on #31
Closing in favor of active discussions about this. Thanks for reporting @marrrcin.

[2015-03-06 18:00] #31 closed

[2015-03-09 12:00] timothyclifford commented on #37
@ahmetalpbalkan no think this can be closed. I think the main issue was due to me targeting the CoreCLR but needed to include Desktop also. @victorhurdugaci helped me out on SO - http://stackoverflow.com/questions/28629440/exception-trying-to-run-asp-net-5-docker-container

[2015-03-09 16:48] ahmetalpbalkan commented on #37
Thanks.

[2015-03-09 16:48] #37 closed

[2015-03-17 18:47] botBoss opened #42 "Docker image is missing NPM, grunt-cli and Git"
When attempting to build a docker image, the command ```kpm restore``` fails when run on an ASP.net vNext project directory generated by Visual Studio 2015.

Command output:

[code]

This is due to the base image missing NPM.  Once NPM is installed, the error becomes

[code]

which indicates that grunt-cli cannot be found.  Once grunt-cli is installed, process finishes sucessfully, but there is a

[2015-03-17 18:48] akoeplinger commented on #42
See https://github.com/aspnet/aspnet-docker/pull/28.

[2015-03-17 18:53] ahmetalpbalkan commented on #42
Closing since duplicate.

[2015-03-17 18:53] #42 closed

[2015-03-24 16:39] jsacapdev opened #44 "Question - what docker container works for a MVC application after big rename"
So, after the rename, I have been trying to get a very simple mvc application working in a docker container. Here is my project.json:

{
    "dependencies": {
        "Microsoft.AspNet.Server.IIS": "1.0.0-*",
        "Microsoft.AspNet.Diagnostics": "1.0.0-*",
        "Microsoft.AspNet.Mvc": "6.0.0-*",
        "Microsoft.Framework.Logging.Console": "1.0.0-*",
        "Microsoft.Framework.Configurat

[2015-03-24 18:39] ahmetalpbalkan commented on #44
@jsacapdev we will be publishing the beta4 image as soon as we can once it goes out (https://github.com/aspnet/Home/releases) and we will be updating to mono 4.x (it's not also out yet. https://github.com/mono/mono/releases)

cc: @danroth27

[2015-03-24 18:43] ryan1234 commented on #44
It was helpful for me to get unblocked while I wait for beta4 to build my own mono 4.x Docker image.

[code]
Not hard to build at all. Then I based a vNext image off of mono 4.x instead of mono 3.

Hope that helps a little.

[2015-03-24 18:57] ahmetalpbalkan commented on #44
@ryan1234 thanks for sharing your solution.

[2015-03-25 00:33] Jarga commented on #44
I had the same solution as above, to build my own image with the latest from the mono repo. Though i noticed that the image size gets pretty big if you don't do some cleanup of the files pulled down for the git clone.

[code]

I also have a pre-build image i stored on docker as ```jarga/mono-4.1.0```

Obviously the official version will be more optimized and smaller, but it can get some people un-

[2015-03-26 08:16] jsacapdev commented on #44
@ahmetalpbalkan - thanks for the answer. @ryan1234 and @Jarga - thanks for the guidance.

[2015-03-26 08:16] #44 closed

[2015-04-07 22:34] superlogical opened #46 "Error when trying to build Docker image"
I have the following Dockerfile

[code]
I get the following error during build

[code]

[2015-04-07 22:45] ahmetalpbalkan commented on #46
@superlogical nothing we can do here. It comes from `System.Threading` namespace (Mono code). Please open an issue on Mono side http://www.mono-project.com/community/bugs/ and you can reference your Docker container as a reproduce step where they can see the error easily as well. :)

We expect those issues to go away once we switch Microsoft's official .NET runtime on Linux, soon.

[2015-04-07 22:45] #46 closed

[2015-04-07 22:50] superlogical commented on #46
Also sometimes I get this error instead:

[code]

[2015-04-07 22:51] ahmetalpbalkan commented on #46
@superlogical Yes I was getting the same errors last year around May. Apparently it's still there. :smile: If you try 100 times maybe it'll just magically work, cause it worked for me sometimes back in the day.

[2015-04-07 22:52] superlogical commented on #46
Yeah I managed to get it to work at least one time :)

[2015-04-07 22:52] superlogical commented on #46
@ahmetalpbalkan I'm not sure how to open a mono bug

[2015-04-07 22:52] ryan1234 commented on #46
Might seem like a hack but for a while to speed up Docker build time, I would run kpm restore in a safe environment and then gzip the dependencies and just copy that in. That way at least it was stable ... and fast. =)

[2015-04-07 23:02] superlogical commented on #46
I've filed a bug here: https://bugzilla.xamarin.com/show_bug.cgi?id=28872

[2015-04-24 16:52] ahmetalpbalkan opened #49 "Fix tests"
Apparently the directory structure at aspnet/Home/Samples has changed. Therefore tests are expected to fail until we adapt.

[2015-04-24 16:55] Eilon commented on #49
@glennc can perhaps offer advice on this if needed. Though for the most part the new structure should be fairly obvious. Sorry for breaking everything!

[2015-04-27 20:41] AlexZeitler commented on #44
I wrote a blog post about running beta 4 with DNX in Docker:
https://alexanderzeitler.com/articles/Running-ASP.NET-5-beta4-in-Docker-with-DNX-runtime/

[2015-04-29 19:08] ahmetalpbalkan opened #50 "beta4 is out, somebody create an image!"
Dear contributors, `beta4` is out: https://github.com/aspnet/Home/releases/tag/beta4 and we need a docker image for it.

It contains lots of changes (e.g. new set of commands like `dnx`). Leaving this issue here for a while if somebody wants to pick that up quickly, otherwise I'll try to do this.

[2015-04-30 12:18] jsacapdev commented on #50
I have some questions:

1. should new image be using mono 4.1.0?
2. In the repo, there seems to be a aspnet-docker/vs-1.0.0-beta4 Dockerfile - is there something else that needs to be added in the Dockerfile as part of this task?
3. should a new 1.0.0-beta4 sub folder be created in the aspnet-docker repo with the beta4 dockerfile?
4. should a request from the docker registry for microsoft/aspnet p

[2015-04-30 20:06] ahmetalpbalkan commented on #50
@jsacapdev thanks for jumping in, these questions are okay!

1. I think this is still the case. But there's no 4.1.0 image for mono yet on docker hub, so we recompile (you can copy mono parts from `vs-1.0.0-beta4/Dockerfile`)
2. I think it'll be a bit different than `vs-*` image, it just uses `dev` branch. Purpose of this image is to fix things to `beta4` packages and thus get reproducible builds.

[2015-04-30 21:49] vlesierse commented on #50
Got a working image with beta 4 [1.0.0-beta4](https://github.com/vlesierse/aspnet-docker/tree/1.0.0-beta4/1.0.0-beta4).

I see that the CI scripts needs to be adjusted as well because of a change in the aspnet/Home repository on the samples (exists of two folders latest and 1.0.0-beta4).

It's also installing mono 4.0.1 because there is no base image yet.

[2015-04-30 21:59] ahmetalpbalkan commented on #50
@vlesierse that looks nice enough. feel free to send a pull request.  AFAIK we need mono **4.1.0** for beta4 to run correctly; not 4.0.1 (coz there's a 4.0.1 image on [Docker Hub](https://registry.hub.docker.com/u/library/mono/)).

I'm ignoring CI scripts for now. They're totally messed up after the dir structure change and will require more version-specific handling. If you want to step up to fix

[2015-04-30 22:05] vlesierse commented on #50
@ahmetalpbalkan Ok, clear. I'm building the image with mono 4.1.0 locally as we speak. I will send a PR when it passes my tests.

Next week I will have some time to look into fixing up the CI builds.

[2015-05-01 06:40] govin opened #54 "Attempting to run aspnet samples with vs-1.0.0-beta4 results in error"
I was attempting to run aspnet HelloMvc sample with vs-1.0.0-beta4 docker image. This results in "Unable to locate Microsoft.AspNet.Server.WebListener >= 1.0.0-beta4*" error.

Here is my docker file

[code]

[2015-05-01 06:46] ahmetalpbalkan commented on #54
@northtyphoon any ideas why this might be failing?

[2015-05-01 07:20] Eilon commented on #54
WebListener is Windows only... not sure if that's directly related. You can use Kestrel as the web server on *nix. I don't think that explains this error though.

[2015-05-01 17:44] yanchenw commented on #54
@govin Can you try if you still got this error?

I just tried with both
Home / samples / 1.0.0-beta4 / HelloMvc /
Home / samples / latest / HelloMvc /
with your Dockerfile, I got no errors.

[2015-05-02 06:44] #50 closed

[2015-05-02 06:45] ahmetalpbalkan opened #55 "Stop compiling mono:4.2.0 once the base image is out"
Leaving this here to remember later.

[2015-05-02 20:58] vlesierse commented on #54
There was a problem in the package.json which should be fixed by now in the Home repo.

[2015-05-02 21:00] vlesierse commented on #54
https://github.com/aspnet/Home/commit/317f9d8b6238f271a851d764855a0e316f8cac49

[2015-05-03 05:24] govin commented on #54
works now, thanks!

[2015-05-03 06:38] #54 closed

[2015-05-03 15:26] vlesierse commented on #49
I was thinking about an approach to try `samples\$VERSION` first and fall back to `git chechout v$VERSION` when the folder doesn't exist.

[2015-05-03 18:11] ahmetalpbalkan commented on #49
@vlesierse we can do something like:

    ... | grep -v 'beta[1-3]'

[2015-05-03 18:13] vlesierse commented on #49
Excluding beta 1 to 3 from the CI? Makes sense... Those images aren't very likely to change.

[2015-05-04 18:37] vlesierse commented on #49
Perhaps this would be more future proof and excludes the `vs-1.0.0-beta4` and the `coreclr-1.0.0-beta5-11624` as well for the time being.
[code]

[2015-05-04 22:48] ahmetalpbalkan commented on #49
@vlesierse not sure what the command above does. :smile: we don't have to be super reliable as the new versions come b/c apparently aspnet/Home could break, too. :) Let's just make sure we just grab all dockerfiles except earlier ones and avoid false positives in the CI.

[2015-05-05 20:16] ahmetalpbalkan commented on #49
closed by #57

[2015-05-05 20:16] #49 closed

[2015-05-16 15:48] yngndrw opened #58 "Container exits after starting / Sample docker file"
I've been trying to get this to work with a standard empty project from the Visual Studio ASP.Net 5 templates. This template generates the following kind of structure: (I also added the kestrel command and dependency to the project.json file as this isn't there by default - Here's what I've ended up with: https://github.com/yngndrw/ASPNetTest)
[code]

There wasn't an example Dockerfile on here tha

[2015-05-16 15:55] yngndrw opened #59 "Dockerfile caching"
It seems that none of the packages are cached between builds when using this setup. I opened this issue with the intention of investigating various caching techniques for the Docker build step.

I will base things around what I believe to be a fairly standard Dockerfile:
[code]

During the build, Docker will cache the result of each command one by one. Sadly as the "ADD . /app" line is before the

[2015-05-16 16:06] yngndrw commented on #58
Just managed to get some logs although it didn't last an hour this time. This was with -t in the Docker options so it just seems to make it last a little longer:
[code]

As you can see, you just end up with "Requesting shutdown." from somewhere.

[2015-05-16 16:25] ahmetalpbalkan commented on #59
You can

    COPY project.json /app/
    RUN dnu restore
    COPY . /app/

and you won't cache miss the docker build step over and over again unless you change project.json.

[2015-05-16 16:35] ahmetalpbalkan commented on #58
So you had

    sleep 1000 | dnx ....

And sleep was keeping the dnx awake (because otherwise kestrel server waits for keyboard input and just dies within seconds). Your server died precisely 1000 seconds later. So if you do

    sleep 9999999999 | dnx

It will live much longer. Keyboard requirement is a known problem and will be fixed in the next release: https://github.com/aspnet/Hosting/pull/25

[2015-05-16 16:36] #58 closed

[2015-05-16 16:40] yngndrw commented on #58
Thanks Ahmet, I didn't know that was a currently outstanding issue and wasn't sure exactly what the sleep was for.

[2015-05-16 17:06] ahmetalpbalkan commented on #58
Does this solve your problem for now?

[2015-05-16 18:08] vlesierse commented on #58
Finally we get rid of the nasty `sleep ...` workaround.

[2015-05-16 18:55] davidfowl commented on #58
:smile:

[2015-05-16 21:02] yngndrw commented on #59
Thanks Ahmet, I'll give that a try.

[2015-05-16 21:03] yngndrw commented on #58
I've just pushed up a build with that, will report back once it has been up for a while.

[2015-05-16 22:07] yngndrw commented on #59
I ended up with the following Dockerfile:
[code]

Sadly it didn't seem to work, here's the first build:
[code]

Here's the second build: (I deleted a .deployment file from the root of the solution - Notice that the image ID for step 1 is different)
[code]

Maybe the cache doesn't work how I thought it did. I expected that as the result of the copy hadn't changed, it would re-use existing image.

[2015-05-17 01:20] ahmetalpbalkan commented on #59
You're not supposed to run "dnu restore" twice. It just uses project.json, so you put it there, run "dnu restore", it'll download your dependencies, then you just COPY your app (no need for those rm's) and it should work without second restore.

[2015-05-17 02:46] yngndrw commented on #59
Sorry I confused it with the idea of having a pre-set of items and needing to then restore your project's dependencies.

Just doing what you said:
[code]

I ended up with the following when the container tried to run:
[code]

So I thought it might be because the project.json file was ending up in the wrong way with me using the solution setup, so instead I copied both the global.json and the proje

[2015-05-25 09:54] chennanfei opened #60 "commands not found when building/running docker images based on microsoft/aspnet"
I followed the article http://blogs.msdn.com/b/webdev/archive/2015/01/14/running-asp-net-5-applications-in-linux-containers-with-docker.aspx and tried to set up a simple site based on .NET in docker. I created my Dockerfile and made microsoft/aspnet as its base image. I got an error 'kpm: command not found' when running 'docker build'. Finally I realized the 1.0.0-beta4 has changed and I should us

[2015-05-25 10:04] chennanfei commented on #60
well, I changed CMD to 'dnx . kestrel' and got following error:

System.InvalidOperationException: Failed to resolve the following dependencies for target framework 'DNX,Version=v4.5.1':
   Kestrel 1.0.0-beta3
   Microsoft.AspNet.Diagnostics 1.0.0-beta3
   Microsoft.AspNet.Hosting 1.0.0-beta3
   Microsoft.AspNet.Server.WebListener 1.0.0-beta3
   Microsoft.AspNet.StaticFiles 1.0.0-beta3

Searched L

[2015-05-25 20:11] vlesierse commented on #60
Try changing the package references to beta4 as well in the project.json.

[2015-05-26 08:01] chennanfei commented on #60
finally I got the issue fixed. thanks!

[2015-05-26 08:01] #60 closed

[2015-05-27 09:19] chennanfei opened #61 "container always exits itself when it is started"
I am in a trouble that the container always exits when I try to run it. My image was created based on microsoft/aspnet:1.0.0-beta4. Did I do something wrong?

[code]

[code]

[code]

[2015-05-27 13:56] ahmetalpbalkan commented on #61
Look at docker logs for the container.

[2015-05-27 15:23] chennanfei commented on #61
the output is just a word 'Started'

[2015-05-27 15:25] ahmetalpbalkan commented on #61
Ah, this is duplicate of #58. It's been an issue for a very long time. This'll be fixed in the next release.

As a workaround you can start container with `-t -d` or can do:

    CMD sleep 999999999 | dnx . kestrel

[2015-05-27 15:27] chennanfei commented on #61
Got it. I will try. Many thanks!

[2015-05-27 15:47] #61 closed

[2015-06-04 08:08] nashasha1 opened #63 "coreclr-1.0.0-beta5-11624 not work for the given example"
I try to make this
http://blogs.msdn.com/b/webdev/archive/2015/01/14/running-asp-net-5-applications-in-linux-containers-with-docker.aspx
work with coreclr-1.0.0-beta5-11624.

It seems coreclr does not support kpm restore or dnu restore.

What should I do??

[2015-06-11 00:14] ahmetalpbalkan commented on #63
@nashasha1 What's the error you are getting in `dnu restore`? Can you be more specific than that in your problem report?

Using the
* sample project here: https://github.com/aspnet/Home/tree/dev/samples/latest/HelloWeb
* and a Dockerfile we add to that project: https://github.com/aspnet/aspnet-docker/blob/9fb0f020001b8640ecdcdb4ae77d95fbb4498351/.ci/build-app-image.sh#L21-L26

it must be working.

[2015-06-11 00:16] ahmetalpbalkan commented on #59
@yngndrw it looks like an error like:

[code]

is indicating is something wrong on your usage. Can you please try looking at

* sample app: https://github.com/aspnet/Home/tree/dev/samples/latest/HelloWeb
* and add this Dockerfile to this project https://github.com/aspnet/aspnet-docker/blob/9fb0f020001b8640ecdcdb4ae77d95fbb4498351/.ci/build-app-image.sh#L21-L26

and run this? Based on this example,

[2015-06-12 07:30] vlesierse commented on #63
This is mainly due to the fact that dnu restore isn't supported on CoreCLR.

https://github.com/aspnet/dnx/issues/1785

[2015-06-13 01:31] yngndrw commented on #59
So it looks like the only real difference between that and what I was using is that my initial project had its solution at a different level, as per the current VS2015 templates.

I first tried deploying the HelloWorld sample as you mentioned to Dokku and it worked. Here was the code as deployed:
https://github.com/yngndrw/ASPNetHelloWeb/tree/v1.0

Next I added the caching into the Dockerfile and

[2015-06-14 02:41] ahmetalpbalkan commented on #59
This actually might be an issue. If you can open an issue on https://github.com/aspnet/dnx/issues that would be great.

[2015-06-14 14:32] yngndrw commented on #59
I've created a bug report: https://github.com/aspnet/dnx/issues/2065

Regarding the caching issue, I'm wondering if there is an issue in Dokku which is stopping the cache from working correctly. I will have to test it when I get the chance.

[2015-06-16 23:46] s-tarasov opened #65 "You planning mono based beta-5 image?"

[2015-06-17 00:20] ahmetalpbalkan commented on #65
@s-tarasov yes we do. I'm not sure if it's ready yet. If so, please feel free to send a Pull Request.

[2015-06-17 04:07] lavadiablo opened #66 "Code structure"
Git already provides great version control, why specific folder is created for each beta release?
It looks like a old behaviour to have branches in TFS......

[2015-06-17 05:10] ahmetalpbalkan commented on #66
@lavadiablo  Short answer: It's not for versioning of the dockerfiles.

We have Docker images for all the asp.net versions actively maintained. Therefore it makes sense to keep them side by side on one branch...

This a convention followed across many official docker image repositories as well. https://github.com/docker-library/

If we'd maintain them on separate branches, sending pull requests ag

[2015-06-17 05:10] #66 closed

[2015-06-17 06:20] lavadiablo commented on #66
@ahmetalpbalkan make sense but I guess you will not need maintain those beta versions parallel in future.

[2015-06-17 06:22] ahmetalpbalkan commented on #66
@lavadiablo we do actively maintain all the versions listed in the github repo at this point.

For instance if there is a security bug in the mono base image that's being used, we need to update the version accordingly and rebuild all the images.

However, going forward, we probably will have at most 3-5 versions available at any time, for instance if you try using beta1 image now, that might go a

[2015-06-23 21:28] luebken opened #67 "Sample app not working"
I've tried to get the example running from this guide http://blogs.msdn.com/b/webdev/archive/2015/01/14/running-asp-net-5-applications-in-linux-containers-with-docker.aspx

Application code: https://github.com/aspnet/Home/tree/master/samples/HelloWeb
Full code can be found here: https://github.com/luebken/asp-docker

And get the error:
[code]

[2015-06-23 21:38] tlk commented on #67
Go for the dev branch rather than master. Also, see aspnet/Home#537 (shameless plug).

[2015-06-24 00:17] luebken commented on #67
That worked thanks.

Unfortunately when I start my containers on the host I can't specify `-it`. And as far as I can see this a required workaround currently. Right?

[2015-06-24 00:19] ahmetalpbalkan commented on #67
You can just do -dt , -t is the one creating the pseudo-tty stream.

[2015-06-24 00:21] luebken commented on #67
The problem is on the host I can't specify any run options.

[2015-06-24 00:49] ahmetalpbalkan commented on #67
Umm why? Are you getting errors?

[2015-06-24 08:18] mdevilliers commented on #67
I'm facing the same issue as @ahmetalpbalkan

We are trying to run in kubernentes and you can't specify a the -t argument.

I believe the underlying problem in aspnet/Hosting has been fixed but I'm having trouble restoring the nuget packages

[code]

leads to an error

[code]

I'm up for making this a new issue if you think I've hijacked this one?

Mark

[2015-06-24 08:21] ahmetalpbalkan commented on #67
@mdevilliers can you please open a separate issue for that one? I think you would need a beta5 image to get the fix (but I'm not sure if the fix made it to beta5), and we don't have beta5 image yet.

The alternative workaround to `-t` is to have `ENTRYPOINT sleep 9999999999 | dnx ....` for now, unfortunately.

[2015-06-24 08:25] mdevilliers commented on #67
Will do,

Thanks

Mark

[2015-06-24 08:31] mdevilliers opened #68 "Need a beta5 image"
We are trying to run in kubernentes and you can't specify the -t argument to run the Docker image.

I believe the underlying problem in aspnet/Hosting has been fixed but I'm having trouble restoring the latest nuget packages.

[code]

leads to an error

[code]

To help fix this @ahmetalpbalkan suggest a beta5 image is required.

If you need help I have some time to help work on this.

Mark

[2015-06-24 21:26] Tazer opened #69 "Would be great with a working DockerFile against dev branch"
Hello,

I have been trying to get an DockerFile working against the dev branch (beta6 at the moment).
But havnt been able to make it work.

The problem is that when adding the https://www.myget.org/F/aspnetvnext/

dnu restore gets problems.

I have seen the current issues and tried the certmgr

aspnet/Home#197
aspnet/Home#89
https://itofinity.wordpress.com/2014/06/04/hello-new-k-world-kpm-restore-

[2015-06-25 08:43] Tazer commented on #69
Solved it.

was an error in NuGet.Config. https://www.myget.org/F/aspnetvnext/ instead of https://www.myget.org/F/aspnetvnext/api/v2.

Would it be interesting to have a pull request with a working DockerFile against the dev branch ?

[2015-06-25 09:23] #69 closed

[2015-06-25 16:28] ahmetalpbalkan commented on #69
@tazer we used to have that with name "nightly" but since dockerfiles are built every once a while when the repos change, it started to become 'not so nightly'. Therefore we dropped it. If you got it working, you might as well just rely on that. But I think it shouldnt go to the public repo for now.

[2015-06-27 18:15] friism commented on #19
@ahmetalpbalkan have you considered the topic of `project.lock.json`? Should `onbuild` one to present, or not? I don't know if the semantics are the same, but the Rails image requires one: https://registry.hub.docker.com/_/rails/

[2015-06-27 18:17] ahmetalpbalkan commented on #19
@friism hmm no idea what that is, I couldn't figure out by looking at the rails image. What does that do?

[2015-06-27 18:18] ahmetalpbalkan commented on #19
hmm found this https://github.com/aspnet/Home/wiki/Lock-file but I'm trying to find an example.

[2015-06-27 18:19] friism commented on #19
@ahmetalpbalkan There's one in musicstore: https://github.com/aspnet/MusicStore/tree/master/src/MusicStore

My current thinking is that onbuild should copy it in with project.json, eg:

[code]

[2015-06-27 18:28] ahmetalpbalkan commented on #19
@friism sounds about right.

[2015-06-27 18:34] Eilon commented on #19
@davidfowl re: lock files

I *do* think that the lock file should be copied - the runtime uses that file to determine the exact versions of packages to load. I think it'll work without it, but you might get unexpected results. It also serves as an optimization because the entire package graph is already resolved. But Fowler will have ton confirm.

[2015-06-27 22:57] friism commented on #19
@ahmetalpbalkan what about multiple `project.json` files? I think that one would ideally like to glob in all of them (eg. `ADD **/project*.json /src`) and then run `dnu restore`, but I don't think that's possible with Dockerfile. Maybe just limit to one project.json at a time?

[2015-06-27 23:01] ahmetalpbalkan commented on #19
@friism you're making an assumption like I'm using ASP.NET, on the contrary I don't know much about ASP.NET at this point, so I don't know what multiple projects mean.

If it means multiple applications, then they probably should go into separate images.

If it means an executable entrypoint and bunch of other projects providing DLLs the entrypoint project depends on, then it should be a single im

[2015-07-01 05:57] shrutikamendhe opened #73 "Docker ASP.NET 5 beta4 kestrel doesn't keep in running state"
My requirement is to define a bash script file as an ENTRYPOINT for docker container instead of dnx command. I have created one bash script file and starting kestrel engine from this file. Below is code of startup bash script file...

**#!/bin/bash**
**exec dnx . kestrel**

I have verified that, when I am running startup bash file from inside container, the kestrel is started but when I am hit ent

[2015-07-01 17:35] ahmetalpbalkan commented on #73
Hi, that's a known issue in `dnx` at the moment.

See these other reports of the problem and check the workarounds suggested:
https://github.com/aspnet/aspnet-docker/issues/58
https://github.com/aspnet/aspnet-docker/issues/67#issuecomment-114779344
https://github.com/aspnet/aspnet-docker/issues/61

I'm not sure this is fixed in 1.0.0-beta5 but we'll be pushing the beta5 image out soon.

[2015-07-01 17:49] #73 closed

[2015-07-01 20:20] #68 closed

[2015-07-01 20:31] ahmetalpbalkan commented on #65
This is now fixed.

[2015-07-01 20:31] #65 closed

[2015-07-01 22:10] ahmetalpbalkan commented on #67
@luebken is this resolved?

[2015-07-02 05:35] shrutikamendhe commented on #73
Thanks Ahmet, my container is running now and kestrel is also in running state :)

[2015-07-02 08:24] luebken commented on #67
Unfortunalty not.

I tried 1.0.0-beta5 by:
* patching [project.json](https://github.com/luebken/asp-docker/blob/master/project.json) to use "1.0.0-beta5" dependencies
* and using `FROM microsoft/aspnet:1.0.0-beta5
` in the [Dockerfile](https://github.com/luebken/asp-docker/blob/master/Dockerfile)

Still getting the error:
[code]

[2015-07-02 08:31] ahmetalpbalkan commented on #67
@luebken so the HelloWeb/HelloMvc applications here: https://github.com/aspnet/Home/tree/v1.0.0-beta5/samples/1.0.0-beta5 works when the following Dockerfile added to the project root:

[code]

image is built and executed like `docker run -t -d -P [image]`, that is what's verified in our CI currently. Can you please try that and see if those work correctly in your set up, if so, maybe you can reve

[2015-07-02 15:58] mdevilliers commented on #68
Thanks - works perfectly

[2015-07-06 14:41] luebken commented on #67
@ahmetalpbalkan I can confirm that your setup is working for me.

I guess I have some problems my `project.json` which I need to trace down.

This leaves this thread with two questions:

* Where can we check in the Dockerfile to continuously test this manner?
* Where do we track the issue of the necessity to specify `-t`for the pseudo-tty stream?

[2015-07-06 15:52] ahmetalpbalkan commented on #67
@luebken That's great to hear.

For the CI of the images, we do test them, however adding Dockerfiles to the aspnet/Home/samples and testing them with Docker does not seem necessary.

Looks like the “server exit upon key press” issue is merged a long time ago. https://github.com/aspnet/Hosting/pull/255 However I don't know if this fix has made it to 1.0.0-beta5. Are you still seeing the “server dy

[2015-07-06 16:11] luebken commented on #67
For me a Dockerfile would be convenient to test and point to. But I can also maintain a fork for now. 

The problem with -t is that I can't specify it. I don't have the means to change docker run flags.

On Mon, Jul 6, 2015 at 5:52 PM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2015-07-06 16:16] ahmetalpbalkan commented on #67
I see. So you don't specify -t to a beta5 app and it still dies after a while?

—Alp
http://alp.im

On Mon, Jul 6, 2015 at 9:12 AM, Matthias Lübken <notifications@github.com>
wrote:

[2015-07-07 07:59] jcorioland commented on #67
Hi,

I am trying to run the 1.0.0-beta5 samples with the docker file propsed by @ahmetalpbalkan but I have a lot of task cancelled when running the dnu restore command :

![image](https://cloud.githubusercontent.com/assets/4435138/8541455/a60a0b5a-248e-11e5-9dfc-5edec78c29e1.png)

Does anyone get the same behavior ?
I have the same with other apps / docker files that were working before this versi

[2015-07-07 11:13] yngndrw commented on #67
I have also noticed this on one of my samples, but not on the other.

This fails:
https://github.com/yngndrw/ASPNetTest

This succeeds:
https://github.com/yngndrw/ASPNetHelloWeb
http://aspnethelloweb.cloud.hostilezone.net/

I'm using Dokku and the aspnethelloweb sample is configured with Docker caching and caching of the NuGet packages, although the caching doesn't work yet and I haven't had the t

[2015-07-07 14:28] ahmetalpbalkan commented on #67
@jcorioland @yngndrw this looks like a separate issue and likely it's not just Docker... If you have a Linux/Mac, please run these outside Docker containers and report issues to the correct github.com/aspnet/ repos.

[2015-07-07 22:24] yngndrw commented on #67
I just tried it again both on a local Ubuntu VM and in Dokku and found that it worked in both places. The downloads seem really slow from the Dokku version despite it running on a real server so maybe it was just poor outward connectivity - I have been having some internet stability issues with the server recently.

@jcorioland I'd suggest that you verify that your connectivity is good before cont

[2015-08-13 08:02] ahmetalpbalkan commented on #67
Closing as it's not relevant to the docker image directly.

[2015-08-13 08:02] #67 closed

[2015-08-22 03:06] kbaley commented on #63
I'm having trouble with the beta5 and beta6 images as well. The results from running `docker build -t moo .` on HelloWorldMvc in beta6 are attached. It looks like it's the same issue, that dnu restore isn't supported. The beta4 image still works though.

Is there another way to get beta6 working in Docker?

[moo.txt | uploaded via ZenHub](https://files.zenhub.io/55d7e6ebdc8bab8b71057411)

[2015-08-22 03:08] ahmetalpbalkan commented on #63
@kbaley your error seems unrelated to this issue and seems like a network issue. Can you please make sure it works outside the container well (to make sure problem is docker image; not rest of the stack) and open a new issue? Thanks.

[2015-08-22 04:11] kbaley commented on #63
Confirmed that it's not the docker image. Ran `dnu restore` on a new Linux VM and got the same error in beta6 (but again, not beta4). I'll check with the aspnet/Home project.

[2015-08-22 04:25] BrennanConroy commented on #63
Try setting the environment variable MONO_THREADS_PER_CPU=2000 before running restore

[2015-08-24 00:18] kbaley commented on #63
@BrennanConroy Success! Setting the variable allowed `dnu restore` to complete. Also, adding it to the Dockerfile allowed me to build images for the beta6 samples both on Linux and on Windows.

Is this an issue with my set up or something that needs to be addressed in the Dockerfile?

[2015-08-24 01:45] ahmetalpbalkan commented on #63
I doubt it is an issue that needs to be addressed in the Dockerfile. You're the only one reporting this error for now.

[2015-08-24 09:51] silvath commented on #63
Hi, i am getting this same error

Enviado do meu iPhone

[2015-08-24 13:44] kbaley commented on #63
@silvath Does the MONO_THREADS_PER_CPU environment variable for for you?

What does this variable do that would solve the problem for me?

[2015-08-24 13:48] silvath commented on #63
hi, i don`t have try it with beta5 or beta6. I am still using beta4

On Mon, Aug 24, 2015 at 10:44 AM, kbaley <notifications@github.com> wrote:

--
Thiago Henrique da Silva

[2015-08-25 20:12] jchannon opened #78 "CoreCLR beta6 docker file"
Any chance of a dockerfile for beta6? I tried locally but it failed for 10444 for some reason.

[2015-08-25 21:04] ahmetalpbalkan commented on #78
I think the coreclr is just not ready to be containerized yet. The coreclr image we have was submitted pretty much due to demo purposes.

[2015-08-26 17:09] glennc commented on #78
I can take a look, but it will probably not be for beta6. Core CLR will not really be ready for anything until Beta7.

[2015-08-26 17:35] jchannon commented on #78
Cool

On Wednesday, 26 August 2015, Glenn Condron <notifications@github.com>
wrote:

[2015-09-02 01:32] rzachariah opened #80 "Sample web app broken?"
I attempted to build the Docker container for the HelloWeb sample app, following these instructions.

http://blogs.msdn.com/b/webdev/archive/2015/01/14/running-asp-net-5-applications-in-linux-containers-with-docker.aspx

Seems ok for a while, but then I get a lot of nuget timeouts. Curiously, I do seem to be able to manually connect the nuget endpoints in question.

Is there a better set of instru

[2015-09-02 01:34] rzachariah opened #81 "Sample web app broken?"
I attempted to build the Docker container for the HelloWeb sample app, following these instructions.

http://blogs.msdn.com/b/webdev/archive/2015/01/14/running-asp-net-5-applications-in-linux-containers-with-docker.aspx

Seems seem ok for a while, but then I get a lot of nuget timeouts. Curiously, I do seem to be able to manually retrieve packages from the offending nuget URLs.

Is there a better

[2015-09-02 01:42] kbaley commented on #80
Hi Ranjith, Try setting the MONO_THREADS_PER_CPU environment variable to 2000. I had the same problem over here: https://github.com/aspnet/aspnet-docker/issues/63 and that fixed it for me.

[2015-09-02 01:58] ahmetalpbalkan commented on #80
@kbaley looks like this is a common issue now. :) Should we add this to the docker image as a workaround?

This also makes me think why `dnu` is requiring so many threads but I have no idea about how it works.

[2015-09-02 02:08] kbaley commented on #80
If we aren't sure what it does, my suggestion would be to feature it
prominently in the instructions instead. Eg. If you run into this error,
set this environment variable and try again.

On Tue, Sep 1, 2015 at 9:58 PM Ahmet Alp Balkan <notifications@github.com>
wrote:

[2015-09-02 11:39] yngndrw commented on #80
For reference the ```DNU``` code in question is here:
https://github.com/aspnet/dnx/blob/219871c6063d00f8297eeafe93266f1048f59a45/src/Microsoft.Dnx.Tooling/Restore/NuGet/PackageUtilities.cs#L36

```HttpSource.GetAsync()``` is implemented here:
https://github.com/aspnet/dnx/blob/c7682dfa42eb47cc12eb949d42cdd60de897ddc5/src/Microsoft.Dnx.Tooling/Restore/NuGet/HttpSource.cs#L91

It looks like ```Http

[2015-09-02 19:34] rzachariah commented on #80
That worked. Thanks!

On Tue, Sep 1, 2015 at 9:42 PM, kbaley <notifications@github.com> wrote:

[2015-09-02 19:44] #80 closed

[2015-09-02 19:49] rzachariah commented on #80
Thanks for the quick response, folks!

On Wed, Sep 2, 2015 at 3:44 PM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2015-09-02 20:38] ahmetalpbalkan commented on #81
duplicate of #80.

[2015-09-02 20:38] #81 closed

[2015-09-03 08:22] vlesierse opened #83 "ASP.NET 5 Docker image based on CoreCLR"
Now that ASP.NET 5 Beta 7 has support for CoreCLR and that the current Docker images are based on the Mono image, I propose to have two sets of images, one based on Mono and the other on .NET CoreCLR.

There are two possible options which I would like to propose:
### Use the image name
`docker pull microsoft/aspnet-mono:1.0.0-beta7`
`docker pull microsoft/aspnet-coreclr:1.0.0-beta7`
### Use the im

[2015-09-03 08:26] jchannon commented on #83
Sounds good, I just came to question CoreCLR docker images as part of #78 so I will close that and we can continue here

[2015-09-03 08:26] jchannon commented on #78
Closing and using #83 going forward

[2015-09-03 08:26] #78 closed

[2015-09-03 10:11] jchannon commented on #83
@glennc over to you :smile:

[2015-09-03 17:15] glennc commented on #83
Thanks :). I will add it to the list. Should be mostly the same as the mono Dockerfile

[2015-09-03 17:35] jchannon commented on #83
cool, let us know when we can get our grubby mits on it or I guess if you want @vlesierse to do anything

[2015-09-03 17:57] ahmetalpbalkan commented on #83
@vlesierse Thanks for bringing this up.

Going forward, there's probably not much value in keeping `mono` images in this repository. My opinion is to retire and remove them over time. In the time being, we can keep mono ones as is and keep the `coreclr-1.0.0-betaN` convention going. I'm +1 for `coreclr-latest` tag as well.

However in the long run, I am guessing people can switch from mono to core

[2015-09-03 18:10] vlesierse commented on #83
Probably in the coming week I can submit a PR, but if someone have time earlier, be my guest. It should be straight forward.

[2015-09-03 18:43] ahmetalpbalkan commented on #83
@vlesierse tried to take a stab at this, looks more complicated than I expected :P

[2015-09-03 19:14] jchannon commented on #83
Added PR :smile:

[2015-09-03 19:16] akoeplinger commented on #83
@ahmetalpbalkan I'd argue there's definitely value in keeping the Mono images in this repo (even after 1.0), there'll be a long tail of people that aren't able to switch to .NET Core due to dependencies missing etc. I don't envision them being much different from the CoreCLR-based dockerfiles anyway, so it's not a huge maintenance burden.

[2015-09-03 19:18] jchannon commented on #83
@akoeplinger +1

[2015-09-03 19:23] ahmetalpbalkan commented on #83
OK, let's keep them then. You guys are experts on this more than I am. :-)

[2015-09-04 06:25] vlesierse commented on #83
I agree to keep a mono version for a while. A good argument for this is that in the beginning not all libraries are ready to be used with CoreCLR and need to be ported first. Then Mono is your only options.

The conventions of putting the technology first `coreclr-1.0.0-beta7` makes sense.

I assume that the Docker on Windows images will have distinctions as well (Full .NET vs CoreCLR) but let's p

[2015-09-07 08:59] jstclair commented on #83
Not sure if I should file this here, create a new issue, or put in on the DNX repo...

I've had a similar project for hosting a standalone (published) project for a while. In attempting to slim down my images, it's been a lot of back-and-forth to figure out what's really required in the base docker image. You can see my base image here: https://hub.docker.com/r/jstclair/jessie-libuv/~/dockerfile/

[2015-09-09 07:44] jstclair commented on #83
Just a note to the previous comment - I've found the linux required package list (http://docs.asp.net/en/latest/getting-started/installing-on-linux.html#install-the-net-execution-environment-dnx) and am trying that out. Previously, I was getting an error that suggested I needed to install libc-dev.

[2015-09-09 07:49] jstclair commented on #83
So, after adding the packages above to my base image, I get the following stack trace when running kestrel:

[code]

Doing a search for `debian libdl` takes me to the following:
https://packages.debian.org/search?suite=stable&section=all&arch=any&searchon=contents&keywords=libdl.so

[2015-09-09 08:05] ahmetalpbalkan commented on #83
@jstclair are you aware of #84?

[2015-09-09 08:09] jstclair commented on #83
@ahmetalpbalkan Yes, that's where I saw the link to the required Linux packages. Although that Dockerfile is closer to mine, I just wanted to create a base image with only dependencies but no DNX (I rather publish DNX as part of deploying my application).

[2015-09-09 09:40] jstclair commented on #83
Just to close this up - have added the runtime dependencies from the ASPNET documentation (with the addition of `libc-dev` and everything runs. See https://github.com/jstclair/jessie-libuv/commit/9fe27d74234fc3804bb508844def41053976cc05#diff-3254677a7917c6c01f55212f86c57fbf for details

[2015-09-09 23:00] ahmetalpbalkan commented on #63
Closing as it seems like MONO_THREADS_PER_CPU is solving the problem.

[2015-09-09 23:00] #63 closed

[2015-09-09 23:02] ahmetalpbalkan commented on #59
@yngndrw hmm shall we close this now?

[2015-09-09 23:50] yngndrw commented on #59
@ahmetalpbalkan Sorry I didn't update this issue further. Last time I checked DNU did not seem to work correctly but I haven't tried it with the latest.

I did have issues with the Docker layer caching not behaving as I'd expect so changed tact and tried implementing a cache volume for DNS. Sadly then ran into an issue where I couldn't mount a host volume while building a Docker image and commente

[2015-09-09 23:50] #59 closed

[2015-09-10 21:04] natemcmaster opened #85 "Upgrade the SQLite version in the image"
The default version of  `libsqlite3-dev`  that can be installed on this image on the is 3.7.13.
EntityFramework.Sqlite [requires 3.7.15 or newer](https://github.com/aspnet/Microsoft.Data.Sqlite#requirements).

Having a working version of libsqlite3 will make the OOB experience better. See https://github.com/aspnet/EntityFramework/issues/3089

[2015-09-10 22:14] ahmetalpbalkan commented on #85
@natemcmaster thanks for reporting. are you using latest (1.0.0-beta7)?

We are relying on `mono:4.0.1` as the base image (https://hub.docker.com/_/mono/) which uses `debian:wheezy` if we need to switch to `debian:jessie` for that we may coordinate with `mono` image owners.

What do you think?

[2015-09-10 22:24] natemcmaster commented on #85
Yes, I'm using the latest. Yes, sqlite for jessie should work. https://packages.debian.org/jessie/libsqlite3-dev.

Upgrading mono is an entirely different beast. If you are coordinating with the `mono` image owners, also consider the EF7 works best with Mono 4.2.0 (see https://github.com/aspnet/EntityFramework/issues/2708). It appears there isn't an image for mono 4.2.0 yet (not surprising as it's

[2015-09-10 22:27] natemcmaster commented on #85
@ahmetalpbalkan also, if we upgrade mono version, let's avoid mono 4.0.3.x. These versions have regressions in System.Data.

[2015-09-10 22:28] ahmetalpbalkan commented on #85
@natemcmaster will keep in mind. Thanks.

If you'd like to propose `mono` folks upgrading to jessie, please open an issue at: https://github.com/mono/docker

[2015-09-10 22:43] glennc opened #86 "Repo structure with multiple dockerfiles"
We have #84 adding CoreCLR support for this dockerfile, and we will soon have Windows based Dockerfiles for windows containers.

Do we think that a Dockerfile for each image should be in this repository or that we should make a repo for Windows and a Repo for Linux?

Seems something like this would probably work in this repo:

/Windows/1.0.0-beta7/Dockerfile
/Linux/1.0.0-beta7/Dockerfile

or alter

[2015-09-10 22:44] glennc commented on #86
@ahmetalpbalkan @anurse

[2015-09-10 23:05] ahmetalpbalkan commented on #86
Also #83...

I think for now we should not think much about Windows because Docker Hub to host windows images is still a bit far away. Looks like no one explored that land of publishing cross-platform Docker images either, therefore it's up to us at this point.

To me it looks like, different platform images should live at different GitHub/Docker Hub repos.

Immediate problem we need to solve is (

[2015-09-10 23:32] friism commented on #86
The way that the Docker registry people are thinking about this is here: https://github.com/docker/distribution/issues/200

I'd also wait and see how that shakes out in the public registry, specifically whether images for different platforms are supposed to live as different tags on the same repository or as different repositories.

[2015-09-11 02:35] ahmetalpbalkan commented on #86
+1 good idea. What do you think about mono vs coreclr @friism?

[2015-09-11 03:41] friism commented on #86
Hm, good question. I think the situation is somewhat similar to [PHP](https://hub.docker.com/_/php/) vs. [PHP Zendserver](https://hub.docker.com/_/php-zendserver/) and [Ruby](https://hub.docker.com/_/ruby/) vs. [JRuby](https://hub.docker.com/_/jruby/) (all official images): they're different ways to run the same programs. Those are in different repos.

For my purposes, I need the mono image right

[2015-09-11 06:42] vlesierse commented on #86
I like the idea of having a separate repo for different platforms. What I know is that Linux container cannot run on Windows and vice versa because they are sharing the kernel. Both of them gets different readme files anyway

Mono vs CoreCLR is a different story I think. The images are quite similar. As a developer I would prefer the CoreCLR version, but when I would like to have more functionalit

[2015-09-11 17:12] muratg commented on #86
Also, do we have to use folders for DNX releases?  Can we use git tags instead?

[2015-09-11 17:41] ahmetalpbalkan commented on #86
@muratg Tags are way hard to maintain. For instance if we try to upgrade the libuv version or base mono image version in beta3 tag, we need to go back there and fix it. Tags in git are more like for snapshotting purposes whereas we're maintaining many versions simultaneously in this case.

Also a common practice in Docker world, you can find more examples of this at https://github.com/docker-libra

[2015-09-11 17:59] muratg commented on #55
@ahmetalpbalkan this bug still useful?

[2015-09-11 18:00] ahmetalpbalkan commented on #55
@muratg not really, looks like we never ended up using 4.2.0.

[2015-09-11 18:00] #55 closed

[2015-09-11 18:31] glennc commented on #86
I am good with all of these being different DockerHub repos, but do they have to equate 1:1 with GitHub repos? Seems like we could have a single GH repo with several DH repos building different sets of Dockerfiles.

I am leaning towards that because it seems like we need to change them together more often than not and having them in a single repo makes that much easier.

[2015-09-14 22:19] ahmetalpbalkan opened #89 "Retire beta1..4 images"
I would like to propose retiring beta1..4 images as they're not part of CI for a while now and we probably shouldn't keep so many versions around. Thoughts?

[2015-09-14 22:25] friism commented on #89
+1 - you can probably reach out to the docker registry guys to see if people are still actively pulling those versions.

[2015-09-14 22:30] ahmetalpbalkan commented on #89
@friism there might be but we don't have a policy as the image is in preview and aspnet itself even breaks frequently. Normally the way to handle this, from my experience, is to have tags like `python:2` `:2.7` and `:2.7.6` so that removal of specific minor/patch images does not effect user in the long run. But since this is all pre-1.0, I guess we're still good?

[2015-09-14 23:13] akoeplinger commented on #89
+1. The whole point about a preview is being able to make changes :smile:

[2015-09-16 17:47] muratg commented on #89
Agreed.  Let's nuke them.  I assume the work would be removing them from Docker and deleting the folders in this repo?

[2015-09-16 18:37] ahmetalpbalkan commented on #89
True.

[2015-09-19 13:19] davidwincent opened #92 "docker build fails on Ubuntu 15.04"
Following the instructions at https://github.com/aspnet/Home/blob/dev/GettingStartedDeb.md does not work.

My working copy of HelloWeb is: https://github.com/aspnet/Home/tree/1d06f1f9352e6ce75f0602f19bbcb04b01dc9ccb/samples/latest/HelloWeb
My docker version is: 1.5.0, build a8a31ef
Dockerfile: https://github.com/aspnet/Home/blob/1d06f1f9352e6ce75f0602f19bbcb04b01dc9ccb/samples/latest/HelloWeb/Dock

[2015-09-19 17:55] ahmetalpbalkan commented on #92
Your error does not seem related to the aspnet image but Docker Hub in general. Can you pull the base image again and other various images to see if it works.

[2015-09-19 22:01] davidwincent commented on #92
Hi.
Other images I have tried seems to work fine. For example:
[code]
I also tried removing all images and pulling them again. I get the same "Error pulling image (latest) from microsoft/aspnet, HTTP code 400" when issuing this command:
[code]

[2015-09-19 22:12] ahmetalpbalkan commented on #92
@davidwincent Hmm interesting, I am able to pull using this command just fine on a clean docker engine.

I suggest you to look at your Docker engine logs first about these errors... Those should have more info about HTTP 400s.

As a simple mitigation, please try removing all the images and then pull. I have no idea why this is occurring, still does not seem it is about `microsoft/aspnet` to me. If

[2015-09-19 22:41] davidwincent commented on #92
Hi @ahmetalpbalkan
I change to docker 1.8 instead of 1.5 and now it works better. Had to run the "sudo docker build -t aspnet-home-helloweb ." a couple of times to get rid of the request timeouts.

Now I am stuck on the following command:
[code]
=>
[code]
Will inform the aspnet team. Thanks.

[2015-09-19 22:43] ahmetalpbalkan commented on #92
@davidwincent are you using the dockerfile at https://github.com/aspnet/Home/tree/dev/samples/1.0.0-beta7/HelloWeb ?

[2015-09-19 22:45] davidwincent commented on #92
I am using: https://github.com/aspnet/Home/tree/dev/samples/latest/HelloWeb

Is it the same?

[2015-09-19 22:47] ahmetalpbalkan commented on #92
@davidwincent turns out repo owners forgot to point `samples/latest` to actual latest release... Please use the link I provided above, in the meanwhile I opened an issue at https://github.com/aspnet/Home/issues/936 .

[2015-09-19 23:01] davidwincent commented on #92
Thanks! Works like a charm!

If any other lost soul is to find this thread, here is how I installed docker.io
https://docs.docker.com/installation/ubuntulinux/

(do not use apt-get install docker.io - it will give you an outdated version)

[2015-09-19 23:01] #92 closed

[2015-09-21 17:30] markrendle opened #93 "Maybe base images on buildpack-deps:jessie?"
I've noticed that most of the official language base images (Node, Ruby, Python, etc) use the Docker [`buildpack-deps:jessie`](https://hub.docker.com/_/buildpack-deps/) image as a base, which pre-installs all the build-essential type of stuff that this image installs itself (see https://github.com/docker-library/buildpack-deps/blob/master/jessie/Dockerfile).

(It doesn't install libuv, which doesn

[2015-09-21 17:42] akoeplinger commented on #93
All of the examples you noted do have a a "slim" version that inherits from FROM debian:jessie though, so I wonder what we'd save here?

For the mono-based image switching isn't easy as the mono docker image would need to switch first.

For the coreclr-based image switching is trivial as it's based on plain jessie.

[2015-09-21 19:56] ahmetalpbalkan commented on #93
@markrendle @akoeplinger Makes sense to base coreclr images on top of `buildpack-deps:jessie`, I appreciate PRs.

For mono-based images we should probably keep using `mono` image (you can suggest that image's repo to switch to buildpack-deps) simply because we're relying on that for security fixes.

Actually I'm just enabling linked builds on Docker Hub now... Every time `mono` gets rebuilt (with

[2015-09-21 20:02] ahmetalpbalkan commented on #93
BTW our `coreclr` based image is already smaller than `buildpack-deps:jessie` and there's a tiny size difference between `mono:4.0.1` and `buildpack-deps:jessie`. I'm not sure it's worth doing.

[code]

[2015-09-30 16:32] markrendle opened #95 "Kestrel can't find libdl"
I'm sure I've done something stupid, otherwise there would already be an issue for this, but I can't get a basic application running using this image as a base.

Repro, using the Basic application from `yo aspnet` with no changes:

**Dockerfile:**

[code]

**Output:**
[code]

[2015-09-30 16:38] davidfowl commented on #95
What os?

[2015-10-02 17:49] muratg commented on #95
@davidfowl from the trace, it looks like linux.

[2015-10-02 18:24] yousifh commented on #95
I'm getting the same exception message. I have tried this on an Ubuntu 14.04 and RHEL7.1 VM boxes and it's failing on both. I believe a week ago I was able to run the Docker containers successfully.

[2015-10-03 11:38] jstclair commented on #93
I've left a similar comment linking to my Dockerfile a few times, but I think you should base your `coreclr` image off the `jessie-backports` image. `Backports` has packages for all required runtime dependencies, so there's no need to install (and remove) the compilation dependencies for `libuv`. In addition, although Docker image size isn't critical, it ends up much smaller than the numbers liste

[2015-10-05 17:44] glennc opened #97 "Change base image"
I am thinking more and more that we need to change the base image and install Mono ourselves.

The Ubuntu base that is being used by almost everyone to test out things like Kestrel is Jessie based. So  I think we are going to get less issues like #95 if we are at least using Jessie. Alternatively we could use Ubuntu 14.04. But I don't really know the size difference, I am hesitant to add a bunch o

[2015-10-05 17:49] ahmetalpbalkan commented on #97
Ubuntu as a base image  is mostly something people new to Docker do. Also http://mjg59.dreamwidth.org/36312.html. Correct way to go is Debian (like all other official language images).

Installing mono ourselves works for me. Except you have to follow Mono security mailing liBut let ke know once that happens, we need to update the trigger at the

[2015-10-07 04:48] glennc commented on #97
My issue isn't really size at all, that was just an aside. It is that we don't test on Wheezy. Jessie is the Debian base for the Ubuntu version that all of the testing and support happens on. So by running on Wheezy we are on an older version of Debian then what people are testing the bits on before they release. Seems we are asking for more bugs that we can't explain by doing that.

[2015-10-07 04:56] ahmetalpbalkan commented on #97
If the issue is wheezy vs jessie, please consider suggesting mono image to update its base. Otherwise, Debian is usually more convenient to run apps and there are reasons why most base images are not on top of ubunti. Also if we are going to install mono ourselves we definitely need to track their security group and push updates proactively as there was a massive TLS vuln in mono a few months ago

[2015-10-07 05:13] glennc commented on #97
That makes sense, I think I will close this and ignore it for now. It is likely mostly a problem for Core CLR anyway.

[2015-10-07 05:13] #97 closed

[2015-10-08 00:40] adamschmidt commented on #97
What's the resolution for those people whose start point is microsoft/aspnet:1.0.0-beta7? Use microsoft/aspnet:1.0.0-beta7-coreclr instead while this gets fixed in beta8+?

[2015-10-08 00:42] ahmetalpbalkan commented on #97
@adamschmidt I'm not sure I understand your question and relevance of it to the issue.

[2015-10-08 00:51] adamschmidt commented on #97
Apologies - missed a bit of context. This thread was linked to an issue not being able to load libdl (https://github.com/aspnet/aspnet-docker/issues/95). Just wondering if moving away from the mono-based image (as all the documentation, yeoman bootstrapper, etc elude to) fixes that issue, or if it's something entirely different.

[2015-10-08 00:52] ahmetalpbalkan commented on #97
@adamschmidt I see, let's move your question there and keep that thread going.

[2015-10-12 10:47] barhun commented on #95
Try and install the package libc6-dev after updating the repos. It helps me avoid this issue to add the following line to .Dockerfile, anywhere afore the statement ENTRYPOINT.

RUN apt-get update && apt-get install -y libc6-dev

[2015-10-12 15:16] muratg commented on #95
@ahmetalpbalkan @glennc

[2015-10-12 15:21] ahmetalpbalkan commented on #95
I wonder what  caused CI (sample HelloMvc app) to pass and yo-generated app to fail. In any case if this consistently reproes we should just add libc to the Dockerfile.

[2015-10-12 18:00] ahmetalpbalkan commented on #95
@barhun @markrendle do you mind sending a PR adding this `libc6-dev` dependency to the Dockerfile?

[2015-10-12 20:33] glennc commented on #95
@anurse, is this what you were hitting with beta8?

[2015-10-12 21:46] vassilvk commented on #95
+1
I observed the same issue on my sample app.
Installing libc6-dev fixes the issue.

[2015-10-13 00:00] barhun commented on #95
Here is all the story.

1) The latest debian:wheezy image has seemingly removed the shared object file libdl. See: tianon/docker-brew-debian@fbf1d76bdcba758d49f5fbf5c591e5149658e991
2) @glennc has invalidated the docker build cache by adding the command for removing apt lists. See: aspnet/aspnet-docker@e0759b0f0928328814799018d7cf70586cc3bf35
3) Obviously by mistake, @ahmetalpbalkan has broken the

[2015-10-13 00:37] ahmetalpbalkan commented on #95
Moving on at #98.

[2015-10-13 01:35] ahmetalpbalkan commented on #95
Fixed via #98.

[2015-10-13 01:35] #95 closed

[2015-10-13 01:37] ahmetalpbalkan commented on #89
Turns out removing them from Docker Hub is not as easy as removing them from the build settings over there... They actually keep the tags around even though you take them out of automated builds and they used to have a UI to delete these tags in the old Docker Hub but they released this new Docker Hub in a hurry and it's still missing a lot of functionality –including removing tags.

I have an ope

[2015-10-15 13:47] FDonald opened #99 "error in dnu restore"
When I launch docker build command with latest version (1.0.0-beta-7) dnu restore fails with message:

*Warning: FindPackagesById: Microsoft.AspNet.Mvc
  Error: NameResolutionFailure*

*System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Exception: Couldn't resolve host name.*

However, when I execute dnu restore from command line, (1.0.0-rc1-15838) dnu r

[2015-10-15 14:51] friism commented on #99
Is networking operational from within the VM where Docker is running? Try running `boot2docker ssh` or `docker-machine ssh dev` and then run `ping bing.com`.

[2015-10-15 15:43] FDonald commented on #99
Thank you for answer.
I can't create docker-machine on my VM Ubuntu 14.04.3 LTS. However, networking is ok.
*PING bing.com (204.79.197.200) 56(84) bytes of data.
64 bytes from a-0001.a-msedge.net (204.79.197.200): icmp_seq=1 ttl=117 time=49.4 ms
64 bytes from a-0001.a-msedge.net (204.79.197.200): icmp_seq=2 ttl=117 time=47.7 ms
64 bytes from a-0001.a-msedge.net (204.79.197.200): icmp_seq=3 ttl=117

[2015-10-15 16:37] ahmetalpbalkan commented on #99
@glennc any ideas why rc1 is showing up in beta7 image?

[2015-10-15 17:21] glennc commented on #99
Going to need more details, I don't understand what's happening at the moment.

You are running a container from the beta7 image and it is telling you that you have rc1?

The error you are getting in is a networking one, or NuGet/MyGet being down. But I don't understand why  you see RC1 in a beta7 container.

[2015-10-15 17:25] glennc commented on #93
What version of libuv is that?

[2015-10-15 17:26] glennc commented on #89
That's unfortunate :). So we just leave them here until we can cleanup Dockerhub as well?

[2015-10-15 17:26] #86 closed

[2015-10-15 17:45] jstclair commented on #93
According to [this](https://packages.debian.org/jessie-backports/libuv1), it's 1.7.5

[2015-10-16 07:04] FDonald commented on #99
OK, let me explain this.
I can run an mvc 6 web Api in an Ubuntu with RC1 installed (method 1), but when I try to build a container from beta 7 (method 2) I got the error. I think may be an error in container. Why not a docker container with RC1?
My Ubuntu is a VirtualBox VM with a network NAT adapter.

[2015-10-18 18:11] atrauzzi opened #101 "Add a way for this container to be used for development"
It would be neat if perhaps in some way, this container could be used by all the IDEs for compilation and syntax checking/code assist instead of requiring a local installation.

[2015-10-19 19:13] yousifh opened #102 "Beta 8 tag for Mono based image is missing"
Building a Docker image with ```FROM microsoft/aspnet:1.0.0-beta8``` is causing Docker to complain about not finding the image. Running it with ```FROM microsoft/aspnet:latest``` is able to grab the image with beta8 mono runtime.

Looking here (https://hub.docker.com/r/microsoft/aspnet/tags/) it seems that it's just an issue of having to add the 1.0.0-beta8 tag.

You can test this on the sample ap

[2015-10-19 19:14] ahmetalpbalkan commented on #102
You're right, looks like we forgot to update Docker Hub. I'm fixing this now.

@glennc Please don't forget to update Docker Hub automated build settings next time you publish a new version. Full checklist is at `MAINTENANCE.md` to avoid errors.

[2015-10-19 19:19] ahmetalpbalkan commented on #102
Umm no I was wrong, apparently the build machine building the beta8 tag crashed (“logs uncoverable” error here: https://hub.docker.com/r/microsoft/aspnet/builds/bsk6mmq3xegztccdtwve4wj/) Apparently build of `beta4` also crashed in the last run.

I am triggering a rebuild now, but we should've checked if all tags built fine.

[2015-10-19 19:30] ahmetalpbalkan commented on #102
Fixed now.

[2015-10-19 19:30] #102 closed

[2015-10-19 19:30] ahmetalpbalkan commented on #89
I'm retiring these anyway, folks will be pulling down old tags until Docker Support helps us cleaning those up.

[2015-10-19 20:15] #89 closed

[2015-10-19 21:10] glennc commented on #102
So I didn't miss anything?

[2015-10-19 21:31] ahmetalpbalkan commented on #102
Nope, although we should update the checklist and add "make sure everything builds fine after Docker Hub build trigger occurs". If build of one tag fails, if it is a new tag (like this case) it does not get added, if it is an existing tag then the new build does not replace the old one and these errors are silently discarded in our case...

[2015-10-20 17:11] muratg commented on #101
This sounds like an interesting idea, though we probably won't get to this before V1 actually ships.

[2015-10-20 17:19] glennc commented on #99
So you are taking the beta7 image and then installing RC1 on it, and getting errors restoring?

Are you using Mono or Core CLR? The pre-reqs for Core CLR have definitely changed between beta7 and RC, so you would need to install the extra dependencies. Though I don't know that any of them would cause the exact error you are seeing.

We don't create docker images for versions that haven't been rele

[2015-10-20 17:22] glennc commented on #102
Sounds like a good idea.

[2015-10-20 22:25] atrauzzi commented on #101
Definitely.  I should add: Tooling support is fairly important here.

[2015-10-30 18:09] gencebay opened #104 ""dnu" executable file not found in $PATH"
I'm trying to build a new container from [my docker hub](https://hub.docker.com/r/gencebay/vnextubuntu/)  repository with this [dockerfile](https://github.com/gencebay/vNextSampleApp/blob/4b443e567a06af237b4e9b6a2011d7128206fe51/src/Dockerfile)

But when it start to build getting the system error below:

so when I look at the container $PATH output, it seems normal and dnx, dnvm and dnu are alread

[2015-10-30 18:11] ahmetalpbalkan commented on #104
What is in FROM gencebay/vnextubuntu image? Can you please a full dockerfile deriving from microsoft/aspnet? I am trying to understand what version you are running.

Also your image can be old, please consider directly building on top of microsoft/aspnet instead of the indirection.

[2015-10-30 19:32] gencebay commented on #104
It (vnextubuntu) was created to learn comprehensively and educational. Have installed DNX (Microsoft .NET Execution environment CoreClr-x64-1.0.0-beta8-15858) and DNVM (Microsoft .NET Development Utility CoreClr-x64-1.0.0-beta8-15858).

When I execute

![screen shot 2015-10-30 at 10 24 17 pm](https://cloud.githubusercontent.com/assets/879469/10855880/c33e40d8-7f4c-11e5-8692-937806371142.png)

it r

[2015-10-31 18:53] ahmetalpbalkan commented on #104
@gencebay I think it's happening because your entrypoint is:

    ENTRYPOINT ["dnx", "-p", "project.json", "kestrel"]

and when you say `docker run image dnu` I believe it actually will run:

    dnx -p project.json kestrel dnu

command. Can you try changing ENTRYPOINT to CMD in your dockerfile and try again?

[2015-11-05 23:38] #85 closed

[2015-11-09 12:15] sulhome opened #105 "ASP.NET docker image exposed ports are closed"
I have added EXPOSE to the [ASPNET Dockerfile][1] and build an image from it however the port exposed in the docker file is always closed? do I need to download a specific package to allow ports to open on this image.

**Dockerfile**

    FROM debian:jessie

    ENV DNX_VERSION 1.0.0-beta8
    ENV DNX_USER_HOME /opt/dnx

    RUN apt-get -qq update && apt-get -qqy install unzip curl libicu-dev libu

[2015-11-09 17:26] ahmetalpbalkan commented on #105
in the container inspect output:

[code]

this does not seem normal. Did you map the container to a port while running with

    docker run -p <host_port>:5003 ...

[2015-11-09 17:33] sulhome commented on #105
no I didn't specify port. Why do I need to specify port? I am exposing a port on my container and allowing any one to talk to my container on that port. My host will not talk to this container but another container that has nginx installed.

The problem is that the port is closed. For example I can connect to my enginx container from my asp.net container using nginx ip address:80 and I get a respo

[2015-11-09 17:51] ahmetalpbalkan commented on #105
Hmm in this case I think your question is about Docker, not this image. I don't think there is anything specific to this image right now.

Unless you use `docker run -p <host_port>:5003` to map the ports or `docker run --link` to link the containers,  each port container will make available can be reachable only within that container.

[2015-11-09 17:51] ahmetalpbalkan commented on #105
No, EXPOSE is just merely documentation. Unless you map it, the port will not be opened to outside of container.

[2015-11-09 18:02] sulhome commented on #105
do I need to open the port in the host as well? so if I map -p 5003:5003 do I need to open port 5003 on the host?

[2015-11-09 18:07] friism commented on #105
@sulhome depending on how you run your docker image, your app will be available on the IP of the VM running your docker container, eg. `docker-machine ip your-vm-name`.

[2015-11-09 18:09] ahmetalpbalkan commented on #105
I am not sure what "opening the port on the host" means, but it will make the traffic to 0.0.0.0:5003 on the host routed to the application inside the container. I think you should check out http://docs.docker.com and play with some other types of containers. :)

[2015-11-09 18:15] sulhome commented on #105
so I want to run asp.net 5 application in a container. I have nginx container which will host the asp.net application. So the host will map 80:80 to nginx and nginx needs to forward calls to aspnet container:5003.

That is I don't need to open port 5003 on the host (change iptables) but I need to open port 80 so:
http://host public ip address:80 --> nginx forward to 5003 --> aspnet kestrel server

[2015-11-09 18:18] ahmetalpbalkan commented on #105
First of all you can omit EXPOSE, that doesn't do anything useful at all. It's just documentation as I said before.

In your scenario you have 2 options

* `-p 5003:5003` and block outside-the-machine ingress traffic to this port via firewall. In this case, nginx and other software can reach your app
* Use `docker run --link` feature.

I strongly suggest seeking help at Docker community help chann

[2015-11-09 18:18] #105 closed

[2015-11-11 21:06] muratg commented on #104
@gencebay Please reopen if this is still an issue for you after following @ahmetalpbalkan's suggestion. Closing for now.

[2015-11-11 21:06] #104 closed

[2015-11-12 02:17] atrauzzi opened #106 "Getting "CONNECTION_RESET" when trying to run containers"
Just tried a new yeoman ASP.NET project and I'm using the dockerfiles `microsoft/aspnet:1.0.0-beta8` or `microsoft/aspnet:1.0.0-beta8-coreclr`.

In both cases, when I run the containers and I navigate to `http://localhost:5000`, Chrome tells me `ERR_CONNECTION_RESET`.

`dnx` seems to start up fine, and when I attach to the containers, it's still running on port 5000.  I've correctly exposed the po

[2015-11-12 02:28] atrauzzi commented on #106
After a few more minutes of desperate badgering, it looks like my docker compose file needed `net: host`.  Seems to have sorted things out!

And that's my derp for the day.

[2015-11-12 02:36] atrauzzi commented on #106
Now that I think about it, this solution is just running it directly on my network interface, and port 5000, not 8080 as I'm trying to remap it.  So I wonder if there are still issues?

[2015-11-12 02:54] ahmetalpbalkan commented on #106
@atrauzzi You should not need --net=host. Just to make sure, this is not `yo docker` right?

Can you please send outputs of:

* `docker inspect [container]`
* `docker top [container] aux`
* `netstat -ntlp`

in your Ubuntu host machine where the docker engine is running?

[2015-11-12 03:05] atrauzzi commented on #106
Hey @ahmetalpbalkan !

The project was created using `yo aspnet`.  It came with a Dockerfile, so I'm working with it.  The only thing I've changed as I'm muddling through things right now is the port from 5000 to 8080 and I'm passing this parameter in my `project.json` as part of my web command:

[code]

[code]

[code]

[code]

[2015-11-12 03:10] ahmetalpbalkan commented on #106
It looks like you really intend to listen on 8080. However there are some things that I noticed in these outputs:

* `docker inspect` output does not container `NetworkSettings` key where port mappings are shown. I can hardly imagine any case this key is omitted from the output. What is your full `docker run` command to start this container?
* `netstat -ntlp` output shows that nothing is listening

[2015-11-12 03:16] atrauzzi commented on #106
I'm running things via docker compose, here's the output of `docker-compose --verbose up`:

[code]

My `docker-compose.yaml` is as follows:

[code]

(pretty simple ;)  )

[2015-11-12 03:21] ahmetalpbalkan commented on #106
Your docker-compose.yaml is problematic, can you change ports to `"8080:8080"` to actually map port 8080 of the container to 8080 of the host machine?

Did you write this compose file or is it an artifact of `yo aspnet`?

[2015-11-12 03:25] atrauzzi commented on #106
Ha, so the `8080:8080` did it!  For some reason I thought just putting the port on it's own brought it forward.  Clearly I was mistaken.

That compose file is my own as I'm experimenting with some things right now.

What is worth noting however is that I did have `"8080:8080"` in there earlier and it wasn't working (I've been changing lots of things this evening).  The line I added to make kestrel

[2015-11-12 03:26] ahmetalpbalkan commented on #106
* is definitely needed. Closing as resolved :-)

[2015-11-12 03:26] #106 closed

[2015-11-12 03:26] atrauzzi commented on #106
Thanks so much for your help :+1:

[2015-11-13 00:20] atrauzzi commented on #101
Created a user voice submission for VS code: https://visualstudio.uservoice.com/forums/293070-visual-studio-code/suggestions/10682943-allow-containerized-dnx-runtimes-to-be-used-for-de

[2015-11-13 01:07] muratg commented on #101
Thanks @atrauzzi! The way I envision this is as a community-driven project, involving OmniSharp and a docker image based on the official one.

[2015-11-16 02:05] naveensrinivasan opened #107 "Update to beta8 in docker hub"
When I looked for the latest aspnet docker file in the docker hub https://hub.docker.com/r/microsoft/aspnet/~/dockerfile/ It still has reference to beta-6.

Shouldn't it be updated to beta8

[2015-11-18 21:16] ahmetalpbalkan opened #109 "rc1 image directory naming issues"
README is currently symlinked to a nonexistent dir:

![image](https://cloud.githubusercontent.com/assets/159209/11254595/fc69a394-8e41-11e5-889a-68ae0059e182.png)

also:

![image](https://cloud.githubusercontent.com/assets/159209/11254588/f2c63186-8e41-11e5-8a4d-02146cb6ae6a.png)

why `-final` @glennc?

[2015-11-18 23:58] glennc commented on #109
My PR fixes this, the team decided to add -final to all of the version numbers. The symmetry between the actual DNX version and the tag of the Docker image seemed worthwhile.

[2015-11-19 00:46] glennc commented on #109
Fixed in https://github.com/aspnet/aspnet-docker/pull/110

[2015-11-19 00:46] #109 closed

[2015-11-19 00:47] glennc commented on #107
I don't know where this comes from, and don't appear to have permission to change it. @ahmetalpbalkan?

[2015-11-19 07:53] StefanSchoof opened #111 "Dockerfile for 1.0.0-rc1-final based on mono:4.0.1 which is not supported"
The Dockerfile for 1.0.0-rc1-final is based on the [mono:4.0.1](https://github.com/aspnet/aspnet-docker/blob/master/1.0.0-rc1-final/Dockerfile#L1) image. On the [Dockerhub page](https://hub.docker.com/_/mono/) of mono are the supported version listed:

4.0.1 is not one of them. The [github project for mono docker](https://github.com/mono/docker) does no longer contain a folder for 4.0.1.

[2015-11-19 08:04] ahmetalpbalkan commented on #111
@StefanSchoof thanks for noticing. It looks like we can go back to `4.0`, but if 4.2 is supported, we shall switch to that. cc: @glennc wdyt?

[2015-11-19 16:48] dougbu commented on #111
Recommend Mono `4.0.5.1`. Various systems in the DNX ecosystem are incompatible or unstable with more recent Mono (pre)releases.

[2015-11-20 18:46] glennc commented on #83
I think we can close this one now right?

[2015-11-20 20:30] glennc commented on #111
This is somewhat awkward. 4.0.5.1 has issues that stop `dnu restore` from working. The newer supported versions don't have that issue but they have other issues that make some DNX stuff not work.

I don't like depending on an unsupported version so we need to do something but I am not exactly clear what that should be at the moment. @BrennanConroy Is your fix for restore going to make it into the

[2015-11-20 20:36] ahmetalpbalkan commented on #83
:+1:

[2015-11-20 20:48] akoeplinger commented on #111
@glennc if you're talking about https://github.com/mono/mono/pull/2154, that's scheduled for service release 1 of Mono 4.2. I don't remember you having major problems with 4.0.5.1 ?

[2015-11-20 20:55] dougbu commented on #111
@akoeplinger, as @glennc mentioned, we have significant problems when using Mono 4.2.x and need to stick with 4.0.x. E.g. action selection in MVC stops working correctly. Once the mono/mono#2154 fix hits the 4.2.x line, we could retry scenarios using that new rev. But it's not clear that will unblock us.

[2015-11-20 20:58] akoeplinger commented on #111
@dougbu please file bugs for everything that stopped working in 4.2 :) The only thing I'm aware of is the intermittent nuget issue that is tracked by https://bugzilla.xamarin.com/show_bug.cgi?id=35947

[2015-11-20 21:14] vlesierse commented on #83
Yeah, we can close this issue

[2015-11-20 21:14] #83 closed

[2015-11-20 22:11] dougbu commented on #111
@akoeplinger we know ` mono .nuget/nuget.exe install` commands often fail and about the action selection issue. But we haven't had time to narrow down things even to know what the mono/mono#2154 fix resolves. As I said, we can look once that fit hits the 4.2.x line.

[2015-11-23 00:59] atrauzzi opened #113 "Add a way to toggle restart/rebuild when files change"
I'm looking to set up a workflow where my aspnet container has the project bind-mounted to `/app` from my development machine.  From there, it hosts out the files.

Unfortunately, it seems like the only way for me to get the server to pick up my changes is to bring down the whole container and then bring it back up.

It would be nice if I could supply an environment variable to the container when

[2015-11-23 14:11] sonotude opened #114 "RC1 Can't access the published port. Connection reset by peer."
Hi there!

I am having an issue with accessing an asp.net webapi from my docker host box even when I have exposed/published the correct port. The project I am running works fine on my windows box running from Visual Studio. The app is very similar to the standard webapi template in visual studio. My dockerfile: (modified from https://github.com/aspnet/aspnet-docker/blob/master/1.0.0-rc1-final-core

[2015-11-23 14:20] sonotude commented on #114
I just tried simplifying my dockerfile by using the image on docker hub and still get the same issue. New dockerfile
[code]

[2015-11-23 14:22] rohitshrivastava04 opened #115 "Visual Studio 2015 Publish to CustomDockerHost not working"
Hi

I am trying VS2015 to publish docker image to my docker host on local machine. It is not able to create default docker file for the project and fails with

C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\Web\Microsoft.DNX.Publishing.targets(386,5): Error : Cannot find path 'C:\Users\shrivastavar\*****\Dockerfile' because it does not exist.
C:\Program Files (x86)\MSBuild\Microsoft\V

[2015-11-23 14:51] atrauzzi opened #116 "Provide a way for dependencies to be reloaded when project.json changes"
Another dev-time suggestion similar to #113...

The container obviously keeps its own copy of project dependencies separate to my development machine.  When I use the container as a development server though, any changes to my `project.json` have to be updated manually.

It would be nice if `dnu restore` could be set to run automatically whenever `project.json` changes.  This ensures that dependen

[2015-11-23 14:56] atrauzzi commented on #101
I've made #116 and #113 which likely fall under everything here.

What might be nice is if a discussion could be started somewhere about how this stuff could all work.  Indeed I think @omnisharp should be involved as there are some more things (debugging dnx running in a container) that need to be covered.  Also, whether a dev mode should be done by the container, or if dev-mode functionality is b

[2015-11-23 16:19] sonotude commented on #114
Woops my bad! It was a problem with my project.json. The commands sections should have looked like this:
[code]
The problem was that it defaults binding(?) to localhost which isn't accessible from outside the container.

I can't wait until the documentation around asp 5 is a little better. I seem to be making stupid mistakes all the time. Oh well, at least I am learning!

[2015-11-23 16:19] #114 closed

[2015-11-23 16:42] friism commented on #114
@sonotude don't feel bad - other people stumpling on these problems will find these issues you create that has solutions, and they can quickly move on.

[2015-11-24 18:22] ahmetalpbalkan commented on #107
@naveensrinivasan @glennc  that's just some Docker Hub issue, who knows why... Unfortunately, especially after the new Docker Hub rollout on June 2015, it has just gotten a lot worse and unfortunately getting better very, very slowly. I have a lot of issues reported at https://github.com/docker/hub-beta-feedback/, please feel free to move this over there.

We have references to the Dockerfiles in

[2015-11-24 18:22] #107 closed

[2015-11-25 05:27] faultylee opened #117 "Different Dockerfile at hub.docker.com vs github"
I notice someone mentioning that the Dockerfile are slower to update at hub.docker.com, but it seems to be updated, though I still see the differences, notably the base image.
From hub.docker.com
[code]
From here
[code]

Both are for the same 1.0.0-rc1-final

[2015-11-25 05:30] ahmetalpbalkan commented on #117
@faultylee This appears to be duplicate of #107, there is nothing we can do about it I believe. What you effectively get is what's committed on this GitHub repo.

[2015-11-25 05:46] faultylee commented on #117
Alright, indeed it was you who mentioned that' it's slow on Docker :) As you can see. the DNX_VERSION is correct. I just took a look at the commit history, it's clearer now, the one with `debian:jessie` is for `1.0.0-rc1-final-coreclr` while the one with `mono:4.0.1` is for `1.0.0-rc1-final`, running on mono.

According to http://docs.asp.net/en/latest/getting-started/installing-on-linux.html the

[2015-11-25 05:47] ahmetalpbalkan commented on #117
@faultylee if you actually look at the project readme, you can find out what's latest. :-)  we're using the same readme format as official Docker images.

[2015-11-25 05:47] #117 closed

[2015-11-25 05:49] faultylee commented on #117
Alright, thanks, didn't notice that.

[2015-11-25 17:07] ohoncharuk opened #118 "Docker can't restore packages"
Hello,

I'm using this article to run my hello world asp.net application with linux:
http://blogs.msdn.com/b/webdev/archive/2015/01/14/running-asp-net-5-applications-in-linux-containers-with-docker.aspx

I use ubuntu 15.
If I run:
dnu restore
on my local machinle inside app follder - it works fine.

But if I run it as:
docker build -t myapp .

it shows namy wornings/errors like:
Warning: FindPacka

[2015-11-25 17:07] ahmetalpbalkan commented on #118
@ohoncharuk can you please share your Dockerfile and project.json?

[2015-11-26 08:35] ohoncharuk commented on #118
Here you go:

﻿{
  "webroot": "wwwroot",
  "userSecretsId": "aspnet5-RunOnLinux1-ff4e2212-7a38-4a8e-bcbc-4b4ea38939b8",
  "version": "1.0.0-*",

  "dependencies": {
    "EntityFramework.SqlServer": "7.0.0-beta5",
    "EntityFramework.Commands": "7.0.0-beta5",
    "Microsoft.AspNet.Mvc": "6.0.0-beta5",
    "Microsoft.AspNet.Mvc.TagHelpers": "6.0.0-beta5",
    "Microsoft.AspNet.Authentication.Cookie

[2015-11-26 09:19] ohoncharuk commented on #118
Never mind. I've updated docker to the latest version and I able now to restore packages.
However, I can't run an application. I see:
"aspnet50" is an unsupported framework.
"aspnetcore50" is an unsupported framework.

I changed it to be
"frameworks": {
    "dnx451": { },
    "dnxcore50": { }

exactky as VS default template does, but run into another error:
Error: Unable to load application or exe

[2015-11-27 09:32] senj opened #119 "Visual Studio Docker deployment behind proxy"
If i try to deploy a docker package to my linux machine in Visual Studio 2015 I have to set the proxy but where can i do this? The docker tools don't use WebDeploy but only the powershell script?

This is my build command

docker -H tcp://myServer:2376 build -t microsoft/aspnet:1.0.0-rc1-final-coreclr -f "...\Dockerfile" "..\PublishTemp\Project"

[2015-12-03 05:22] AlexChesser opened #121 "SqlLite3 is out of date - EF crashes generated containers"
As enumerated in this open issue on the generator:

https://github.com/OmniSharp/generator-aspnet/issues/525

The ASPNET docker image cannot successfully run the ASPNET generator as created by the YEOMAN generator.

Pull request incoming. Please feel free to let me know if you'd like it to be backported to prior releases (eg: beta8,7,... etc..)

[2015-12-03 12:57] AlexChesser commented on #101
Hey Alex, I've been doing some stuff that might help here. Although it is not actually working, I may be able to take another pass at it by the weekend. I'd love to hear your thoughts.

I've been starting DEV locally with a local docker compose file as you see here:

https://github.com/AlexChesser/aspnet-docker-sample/blob/master/docker-compose.yml

By creating the mount-to-src point (in theory) t

[2015-12-03 14:09] atrauzzi commented on #101
@AlexChesser - Glad to hear I'm not the only Alex interested in seeing this made!  ;)

While I'm not an expert on ASP.NET, this is the list so far of considerations that I've thought up based on my experience building php-fpm container setups:

 - COPY/ADD the project directory to `/app` during build.
 - During development, bind mount the project directory to `/app`, which overrides the `COPY`/`AD

[2015-12-05 23:13] AlexChesser opened #123 "Docker build/rebuild of ASPNET project takes a long time."
Currently, building a typical ASPNET project on docker requires an extremely long `DNU RESTORE` to run every time you build a project.

A far more efficient way of doing this would be to pre-load the most common nuget packages on the image in order to ensure the end user's DNU RESTORE only takes the packages they need which are different from the standard loadout.

note for example the extension I

[2015-12-05 23:26] friism commented on #123
This is a really interesting idea.

 * I'm worried that this would require updating the Docker image every time there's a minor-version update to a cached dependency. What would decide when a new version of the image is built to get the latest minor version?
* This will arguably needlessly inflate container image size for people that don't need the cached dependencies

The current purpose of this

[2015-12-05 23:30] ahmetalpbalkan commented on #123
@AlexChesser have you considered doing an initial `COPY project.json` and `RUN dnu restore` and then copying your application over? If you do that, as long as you do not change `project.json`, the `dnu restore` step which is taking long time will be instantly completed from docker build cache.

[2015-12-05 23:43] AlexChesser commented on #123
@friism yes, I realize there would be considerable bloat caused by this, but I thought it would make a significant impact on cycles of dev time.  But you're right, locally my "base image" expands to 1.4gb from ~800meg

@ahmetalpbalkan  of course! that makes a lot of sense.

Altering the source dockerfile from
[code]
to
[code]

would mean the nuget restore would only run when dependencies change...

[2015-12-05 23:44] AlexChesser commented on #123
actually - even in the dockerfile above, I guess I wouldn't need the second DNU restore

[2015-12-06 00:16] ahmetalpbalkan commented on #123
@AlexChesser yes that's the whole point.

[2015-12-06 16:31] AlexChesser commented on #123
Ok, so I've gone ahead and sent a PR to the omnisharp project so the default docker-file is designed more optimally.

If they merge that in then end-users won't be over-burdened but this docker image won't have to pull in unnecessary dependencies.

I think that is also in keeping with the needs of this image which is to be bare-bones.

Probably safe to close this with a "fixed upstream" comment.

[2015-12-06 16:53] AlexChesser commented on #116
Hey @atrauzzi - this doesn't precisely answer your problem, but my latest commit on the aspnet-generator (PR pending) https://github.com/AlexChesser/generator-aspnet/commit/ba739ffcd2e2c64252feec97d7985707e292c02b has re-ordered the operations on the docker image such that rebuilding your project is much quicker (and uses far less bandwidth) UNLESS the project.json changes.

That might help with y

[2015-12-06 17:43] #123 closed

[2015-12-06 17:43] ahmetalpbalkan commented on #123
Thanks.

[2015-12-06 17:50] atrauzzi commented on #116
Are you intending to re-build the container every time files change?

[2015-12-06 18:53] peterblazejewicz commented on #121
@glennc @ahmetalpbalkan
Can you discuss if there is a possibility of incorporating sqlite3 as dependency to Ubuntu 14.04 based docker image for x-platform EntityFramework?
People are starting using a content promoted via `generator-aspnet` and the EntityFramework needs that  package by default.
Thanks!

[2015-12-07 15:04] AlexChesser commented on #121
Hey @peterblazejewicz I think we'd find that this violates the intended purpose of the aspnet-docker image  https://github.com/aspnet/aspnet-docker/issues/123#issuecomment-162256478 which I'm told is "to be as bare bones as possible" (sic)

Adding slqite3 would violate "bare bones" in the case where databases are not needed or perhaps (in future) on the day where EF-x-platform gains connectors for

[2015-12-07 18:13] muratg commented on #119
@glennc Could you ping internal docker tooling team?

[2015-12-07 18:15] muratg commented on #118
@ohoncharuk Yeah, that blog is outdated.  Please refer to https://docs.asp.net/en/latest/getting-started/installing-on-linux.html#using-docker and let me know if you still have issues.

[2015-12-07 18:15] muratg commented on #118
@ohoncharuk Also I'd recommend porting your app to RC1 :)

[2015-12-07 18:16] muratg commented on #115
@glennc Could you ping docker tooling team about this?

[2015-12-07 18:19] muratg commented on #111
When a newer supported Mono version that works with our stuff, we'll revisit this.  Putting it in 1.0.0 backlog for now.

[2015-12-07 18:20] ahmetalpbalkan commented on #119
cc: @stevelasker @PeterJausovec

[2015-12-07 18:20] muratg commented on #99
@FDonald We now have an RC1 based image that you can use directly.

Please reopen or file another bug if you still have issues with that image.

[2015-12-07 18:20] #99 closed

[2015-12-07 18:21] ahmetalpbalkan commented on #118
@muratg Hmm I was trying to keep that blog up to date. Can you please send a PR to fix it in README.md of this repo? I'll update the blog post.

[2015-12-07 18:27] muratg commented on #93
I expect we'll be basing our image on https://github.com/dotnet/dotnet-docker (which currently uses `buildpack-deps:trusty-scm`)  I recommend filing a bug there to move it to jessie.

[2015-12-07 18:27] #93 closed

[2015-12-07 18:47] PeterJausovec commented on #119
@senj  check out this thread: https://github.com/docker/docker/issues/14634

[2015-12-07 19:22] muratg commented on #118
@glennc Could you look into updating the README.md here?

[2015-12-07 20:11] glennc commented on #116
@atrauzzi The way you would achieve what you are after is to mount your application code, and optionally packages directory, when running your image. You would then run dnx-watch inside the container instead of just dnx. IIRC you need to set the environment variable to have mono use the managed file watcher for dnx-watch to work. Core CLR I think just worked. If you then run your container you can

[2015-12-07 20:12] glennc commented on #115
cc: @stevelasker @PeterJausovec

[2015-12-07 20:15] PeterJausovec commented on #115
@rohitshrivastava04 can you check if you have the latest docker tools for VS installed? (0.9.1)

[2015-12-07 20:22] SteveLasker commented on #115
Thanks folks. We did discover a few problems with custom host that we're fixing. We're working on a 0.9.2 release that will address it. Please watch for a release this week.
Steve

[2015-12-07 20:30] atrauzzi commented on #116
@glennc - Wouldn't it be a bad idea to mount the system-specific packages directory from the docker host as they are totally different environments?
Perhaps I'm running on Windows with Microsoft's .NET, but my container runs coreclr on linux.  When dnu/dotnet tries to perform package operations, it will be dealing with a directory that is physically on a Windows, but executing on a Linux VM with a

[2015-12-07 22:45] glennc commented on #121
Can we split this into 2 PRs I'd like to talk about the two thing separately, pre-installing packages and SQLLite. The pre-installing packages can just be another file that inherits from the microsoft/aspnet right?

[2015-12-07 22:47] ahmetalpbalkan commented on #121
@glennc I believe we eliminated the need to pre-instal things with a tip I provided in #123 if I recall correctly.

[2015-12-07 23:41] AlexChesser commented on #121
@glennc - the SQLLITE3 update is the only functionality in Pull request https://github.com/aspnet/aspnet-docker/pull/122 I *think* I now have this in a condition that is acceptable to merge please let me know if you need any more cleanup or if you've got tips for "next time"

@ahmetalpbalkan - that's the "pre-cache dependencies" ticket - it seems the team over at omnisharp feel the sqllite3 update

[2015-12-07 23:42] ahmetalpbalkan commented on #121
Agreed.

[2015-12-07 23:44] ahmetalpbalkan commented on #121
The change is LGTM. @natemcmaster brought up this before as well (#85). @glennc/@natemcmaster can you please take a look and approve as well?

[2015-12-08 01:45] AlexChesser commented on #116
@glennc sorry to be a pain, but perhaps you could give some clarification around what's missing here?

[code]

Note that the code in "WebApplication" is based on the default yeoman generator for an ASPNET project with logins.

[2015-12-08 02:34] atrauzzi commented on #116
@AlexChesser - That's unrelated to this ticket, might be worth opening a new one...

[2015-12-08 11:07] AlexChesser commented on #116
Fair point, maybe it belongs over in dnu-watch. I'll open an issue there.

[2015-12-08 18:12] muratg commented on #119
@senj https://github.com/docker/docker/issues/14634#issuecomment-155572446 should solve your problem. If not, please feel free to reopen or file another one.

[2015-12-08 18:12] #119 closed

[2015-12-08 18:14] muratg commented on #115
Closing this one, please open a new one and ping @SteveLasker if the new release next week doesn't solve this issue.

[2015-12-08 18:14] #115 closed

[2015-12-11 21:54] muratg commented on #19
Putting this in RC2 for now and assigning to @glennc make a decision/talk to @ahmetalpbalkan etc.

[2015-12-11 22:18] ahmetalpbalkan opened #124 "Proposal: use microsoft/dotnet image for CoreCLR images"
We should probably start using use the new `microsoft/dotnet` images soon?

@glennc wdyt?
@muratg track this for rc2 as well maybe?

[2015-12-11 22:56] muratg commented on #124
:+1:

[2015-12-15 18:33] glennc commented on #124
Yeah, it does mean significant changes for us. I think the only thing we really need to layer on top is libuv, and the mono stuff. Everything else should be done by the dotnet cli base image. So some of our stuff gets simpler, which is nice.

A couple of ideas for more stuff the ASP.NET images could do above the CLI image is:

1. do some on-build style stuff: Create a non-root user and directory f

[2015-12-15 18:49] ahmetalpbalkan commented on #124
@glennc For 2, I still tend to think if we add `ONBUILD COPY project.json` first and `ONBUILD RUN dnvm restore`, we will not need pre-restored packages. Only the first time and changes to project.json will be a bit slow is all.

I believe dotnet folks are also thinking of an onbuild image (https://github.com/dotnet/dotnet-docker/issues/14#issuecomment-159062476) we can coordinate. I think we shoul

[2015-12-15 19:40] glennc commented on #116
@atrauzzi That is theoretically a problem, but in practice I haven't seen it cause any problems. Of course I am not really using it in anger. However, mounting the packages is not a mandatory part of this it just speeds up the first build as a bunch of packages are already there.

Restarting the server has always been the way that ASP.NET 5 has achieved this kind of thing, even in Visual Studio on

[2015-12-15 19:41] glennc commented on #113
@atrauzzi this is the same thing that dnx-watch gives you that we talked about in #116?

[2015-12-15 19:45] glennc commented on #116
I just realized that I totally conflated this issue and #113. dnx-watch will take care of all the code changes and such. But it will not run restore, it will just sit there until you run restore after you add a dependency to your project.json.

The current state of the world is use dnx-watch for all changes outside of dependency changes in project.json. When you add a dependency you need to `ctrl

[2015-12-15 20:32] atrauzzi commented on #113
This one is project files, other one is `project.json` (dependencies).  So I think this one is satisfied by `dnx-watch`.

[2015-12-15 20:33] atrauzzi commented on #116
So I guess the problem here is that if I'm developing on a local filesystem and I'm running in a container, sure enough I can watch for changes in my local filesystem.  But the tooling would also have to spit commands into the container as well.  Alternatively, maybe dnx-watch could be made to optionally watch project.json as well?

Big if, I know.

[2015-12-17 01:36] coding2012 opened #125 "Use git tags"
The project as it stands right now is creating separate folders for "releases". Most git workflows use git branches and tags for releasing work.

[2015-12-17 02:01] ahmetalpbalkan commented on #125
@coding2012 this project follows official Docker image conventions: https://github.com/docker-library/

In most pull requests, we address issues in multiple Dockerfiles at once. Sending a PR to multiple tags/branches is not feasible. In addition to that, this format offers ease of discovery as well. Branches are not very obvious on GitHub and this lays out an easy interface.

[2015-12-17 02:01] #125 closed

[2015-12-17 02:15] friism commented on #125
@ahmetalpbalkan I don't have a problem with the current layout, but with the new hub build system, it could probably be branch-based with less work: https://blog.docker.com/2015/11/upgraded-autobuild-docker-hub/

[2015-12-17 12:46] rohitshrivastava04 opened #126 ""dnvm": executable file not found in $PATH"
I am trying to build aspnet 5 app which interacts to SQL server 2014. While deploying the application on docker using microsoft/aspnet:1.0.0-rc1-update1-coreclr.

I have reference to "System.Data.SqlClient": "4.0.0-rc2-23614", to fix the issues in RC1, I have to upgrade it to rc2.
Now to resolve this dependency, https://www.myget.org/F/aspnetvnext/api/v2 nuget feed should be used, to make use of t

[2015-12-19 07:52] eivantsov opened #127 "App unavailable when run without -ti"
Maybe I am missing smth obvious, but if the image is run without -ti, the app starts OK in a container, but when I go to localhost:${mapped.port} there's nothing there. When I add -ti to the run command, everything's OK.

We use Docker API to create and run containers, and they are started in a non interactive mode.

In the blog post, I see that "The -t switch attaches a pseudo-tty to the containe

[2015-12-20 07:05] eivantsov commented on #127
Figured it out. Closing the issue.

[2015-12-20 07:05] #127 closed

[2015-12-24 16:18] rohitshrivastava04 commented on #126
Can anyone tell me how to create docker image for RC2 (latest dev build)?

[2015-12-25 09:03] dqywill opened #128 "Visual Studio 2015 Publish to CustomDockerHost "Custom" was not found Error"
Hi All, I am trying to publish my asp.net 5 web app to my docker host, but it's not working. The error message like this:

Publishing with publish method [Custom]
C:\Program Files (x86)\MSBuild\Microsoft\VisualStudio\v14.0\Web\Microsoft.DNX.Publishing.targets(386,5): Error : An error occurred during publish.
AspnetPublishHandler with name "Custom" was not found

I use vs 2015 with update 1 and Too

[2015-12-25 20:21] ahmetalpbalkan commented on #128
@dqywill can you please open an issue at https://github.com/Microsoft/DockerTools ? Your problem does not seem related to the Docker image.

[2015-12-27 03:16] dqywill commented on #128
@ahmetalpbalkan thanks a lot. I will close this issue.

[2015-12-27 03:16] #128 closed

[2016-01-04 18:27] glennc commented on #118
I'm not sure what I would update in the README of this repo, all it does is link to the blog post.

[2016-01-04 18:28] ahmetalpbalkan commented on #118
@glennc I think we should update readme to point to https://docs.asp.net/en/latest/getting-started/installing-on-linux.html#using-docker

[2016-01-04 18:32] glennc commented on #116
yeah, theoretically dnx-watch could watch the project.json/project.lock.json and you would get more of the experience you want. But we should talk about it in the dnx-watch repo :). https://github.com/aspnet/dnx-watch/issues

dnx-watch, or somethign like it, is the way to achieve this there isn't anything docker specific that I think would help.

[2016-01-04 18:38] glennc commented on #126
RC2 is a bit difficult as it is in the process of transitioning away form DNX and onto the dotnet cli, there are no instructions to help you at the moment. They should be coming soon, but aren't there yet.

[2016-01-04 18:39] glennc commented on #113
Closing since dnx-watch does the job for this one :)

[2016-01-04 18:39] #113 closed

[2016-01-05 11:29] rohitshrivastava04 commented on #126
Could you please tell expected timeline for this?

[2016-01-05 13:12] hasanoruc commented on #46
hey. i am getting this error now and i dont know what am i doing. i am not create my docker image. it seems kpm error. and related SEHException.

#1530
#1667

please help me @janvorli

[2016-01-05 22:12] promontis opened #129 "Support for dnx452"
Beginning January 12, 2016 only .NET Framework 4.5.2 will continue receiving technical support and security updates. So, I tried running an aspnet5 app on the 1.0.0-rc1-update1 (mono) image using dnx452 instead of dnx451, by specifying it in the project.json file under "frameworks.". However, when I try to run the docker image I get the following error:

[code]

Is dnx452 not supported on mono (I'

[2016-01-06 18:31] muratg commented on #129
Yeah, AFAIK, dnx452/dnx46 are not supported on Mono.  I think they're working on .NET 4.5.2 compat though I'm not sure what the status is.

cc @migueldeicaza

[2016-01-14 01:18] barriestewart commented on #126
@rohitshrivastava04 in case you didn't get this, I think this should probably work at the top of your dockerfile (this is for coreclr so just remove the `-r coreclr` part if you are just using the standard clr)

    FROM microsoft/aspnet:1.0.0-rc1-final-coreclr

    # Ensure we have updated to the latest unstable RC2 builds. We need to remove the existing $DNX_USER_HOME/runtimes/default symlink

[2016-01-21 18:10] rohitshrivastava04 commented on #126
Thanks tried it and logged dnx hangs issue.
https://github.com/dotnet/coreclr/issues/2466

Closing this one now.

[2016-01-21 18:10] #126 closed

[2016-01-23 14:15] gencebay opened #131 "Unable to locate Dependency (Class Library Dependencies)"
Hi,
I'm getting an error for internal class libraries (packages) during build and restore on docker (FROM microsoft/aspnet:latest)
Have a .ASP.NET 5 Web Api Hosting project with dockerfile and project.json file below

[code]
so have can I resolve the sources (feed) of local class libraries ( SampleClassLibrary.*) during build on docker and dnu restore packages?

[2016-02-02 18:17] muratg commented on #131
Does restore/build work fine for this project when you're doing it outside Docker?

[2016-02-02 18:24] gencebay commented on #131
yes @muratg and I have resolved it with copy entire solution folder (src directory) to the docker then ok!

[2016-02-02 18:24] #131 closed

[2016-02-03 23:00] kscott5 opened #132 "Docker Helper"
Here's my Dockerfile!

[code]

I executed the following command from Docker QuickStart Terminal on Windows using the info above.

docker build -t 'reponame/appname:1.0.0' .

![capture](https://cloud.githubusercontent.com/assets/132991/12799890/14e6fd36-ca97-11e5-89f1-2dc04247f7b9.PNG)

It run successfully. Then I execute the following command

docker run -it 'reponame/appname:1.0.0'

It displays t

[2016-02-04 16:45] aplogicdlamb opened #133 "Updated version of mono"
The Dockerfile results in using mono 4.0.4 instead of 4.2.2. 4.0.4 does not properly write DBNull.Value to nullable Integer or DateTimeOffset fields in an MSSQL Server database (or at least Amazon AWS RDS). To get 4.2.2, the Dockerfile should include the directives described at http://www.mono-project.com/docs/getting-started/install/linux/#debian-ubuntu-and-derivatives.

[code]

[2016-02-04 17:23] muratg commented on #132
Does the app run without docker, i.e. on the host directly?

[2016-02-04 19:08] kscott5 commented on #132
Yes. I changed the hosting.json to use 0.0.0.0:6001 based on another post. It didn't work either.

Sent from my T-Mobile 4G LTE Device

-------- Original message --------
From: Murat Girgin
Date:02/04/2016 11:24 AM (GMT-06:00)
To: aspnet/aspnet-docker
Cc: Karega Scott
Subject: Re: [aspnet-docker] Docker Helper (#132)

Does the app run without docker, i.e. on the host directly?

-
Reply to this ema

[2016-02-08 11:23] ArkadyB opened #134 "dnu restore failed on latest coreclr image"
Hi,

Recently tried to check the latest coreclr image with my project and found i cant run it anymore:

Please suggest... Whats wrong with it? dnx command also does not work.

dnvm list:
Active Version              Runtime Architecture OperatingSystem Alias
------ -------              ------- ------------ --------------- -----
       1.0.0-rc1-update1    coreclr x64          linux           defaul

[2016-02-15 11:00] markrendle opened #135 "Is Sqlite necessary if not using EF, Identity, etc?"
The coreclr image installs sqlite3 and libsqlite3-dev. Are these actually necessary for the CoreCLR runtime, or are they just being installed for applications that use Entity Framework and ASP.NET Identity?

[2016-02-15 15:28] friism commented on #135
Yeah, it's required to get EF stuff working: https://github.com/aspnet/aspnet-docker/pull/122

[2016-03-03 17:04] muratg commented on #134
@ahmetalpbalkan Any idea why this may be?

@ArkadyB BTW, in RC2 we'll be retiring DNX based images (as well as DNX tooling) and move to use dotnet CLI for the dev workflow. Hence the docker images will also be dotnet CLI based.

[2016-03-03 17:05] muratg commented on #132
@kscott5 were you able to resolve the issue?  BTW, in RC2 we'll be retiring DNX based images (as well as DNX tooling) and move to use dotnet CLI for the dev workflow. Hence the docker images will also be dotnet CLI based.

[2016-03-03 17:05] muratg commented on #133
In RC2 we'll be retiring DNX based images (as well as DNX tooling) and move to use dotnet CLI for the dev workflow. Hence the docker images will also be dotnet CLI based.

[2016-03-04 20:45] ahmetalpbalkan commented on #134
@muratg I haven't been following the image or aspnet/dotnet core lately. I think it is time for somebody better than me should take over this project to take a look at the issues and address them appropriately.

[2016-03-05 14:22] glennc opened #136 "ASP.NET and the .NET CLI"
I want to get some comments from folks looking at this repo. This exists: https://github.com/dotnet/dotnet-docker-preview

The intent is that it gets updated regularly with the latest .NET CLI. Given that ASP.NET will now use the CLI instead of DNX/DNU we should build an image for ASP.NET that builds on that. What I was thinking is to do the same as they have done and create a new repo for just th

[2016-03-15 12:32] paulvanbladel commented on #131
Mhmm,... is this a good solution?
I'm having the same problem.
@gencebay : how exactly did you do the copy in the Dockerfile?

[2016-03-30 01:19] alberttwong opened #137 "Trying to follow "your first asp.net 5 app on mac""
So I'm following http://docs.asp.net/en/latest/tutorials/your-first-mac-aspnet.html and yeoman generated a asp.net sample app (http://docs.asp.net/en/latest/client-side/yeoman.html).  I can run it just fine when I execute "dnx web".   I also noticed that yeoman generated a dockerfile with it.   Now the docker file uses "Kestrel" and I just changed it to "web" and "docker build" and "docker run".

[2016-03-30 01:58] charliesolomon commented on #137
Port 5000 is the container port that is exposed, right?  8080 is the host port it is mapped to.  Did you try localhost:8080?

[2016-03-30 02:27] alberttwong commented on #137
Yup..  tried both ports.

[2016-03-30 03:33] friism commented on #137
Did the sample work before you changed anything?

Anywho, you need to get kestrel to bind to 0.0.0.0 (not just localhost): `docker run -t -p 5000:5000 myapp --server.urls http://0.0.0.0:5000`

Also, depending on how you run Docker on your Mac, containers are not available on `localhost` (this is a linux'ism). If you're using Docker Machine, you can find the relevant IP address with `docker-machine

[2016-03-30 16:43] alberttwong commented on #137
bash-3.2$ docker run -t -p 5000:5000 yourapp --server.urls http://0.0.0.0:5000
Error: Unable to load application or execute command 'kestrel'. Available commands: web, ef.

[2016-03-30 16:44] alberttwong commented on #137
so I modified the dockerfile back to web.

bash-3.2$ docker run -t -p 5000:5000 yourapp --server.urls http://0.0.0.0:5000
info: Microsoft.Data.Entity.Storage.Internal.RelationalCommandBuilderFactory[1]
      Executed DbCommand (2ms) [Parameters=[], CommandType='Text', CommandTimeout='30']
      PRAGMA foreign_keys=ON;
info: Microsoft.Data.Entity.Storage.Internal.RelationalCommandBuilderFactory[1]

[2016-03-30 16:56] alberttwong commented on #137
So I figured out a way to get this to work.

1. Find out the docker ip

docker is configured to use the default machine with IP 192.168.99.100

2. must run docker run with server.urls

docker run -t -p 8080:5000 yourapp --server.urls http://0.0.0.0:5000

3. then you can open browser to http://192.168.99.100:8080/

[2016-03-30 17:13] friism commented on #137
Great, recommend closing this issues.

It might be good to add a Docker section to the docs: https://github.com/aspnet/Docs

[2016-03-30 20:48] alberttwong commented on #137
Found out that there is a fix from the generator guys so you don't have to change the docs.  https://github.com/OmniSharp/generator-aspnet/issues/579#issuecomment-203587270

[2016-03-30 20:48] #137 closed

[2016-03-30 23:10] friism commented on #137
Well, the IP stuff is still confusing

On Wednesday, March 30, 2016, Albert Wong <notifications@github.com> wrote:

--
http://friism.com/
(650) 318-1051
Sapere aude

[2016-04-03 21:36] tonysneed opened #138 "Error pulling microsoft/aspnet"
I'm currently unable to pull the aspnet docker images.  I get the following error:

[code]

Any help would be appreciated.

[2016-04-04 16:07] friism commented on #138
@tonysneed this is unlikely to be a problem with this repo. Can you pull other image, eg. `docker pull  alpine`?

If you're having problems using Toolbox, you can ask for help on the forums or on the Toolbox GitHub repo:

 * https://forums.docker.com/c/open-source-projects/docker-toolbox
 * https://github.com/docker/toolbox/

[2016-04-04 16:19] tonysneed commented on #138
You're right - I tried it from a different network and I was able to pull microsoft/aspnet.  I was using a hotel wifi, and there must have been connectivity issues. :)

[2016-04-04 16:19] #138 closed

[2016-04-05 16:06] muratg commented on #121
Looks like this is done?

[2016-04-05 16:06] #121 closed

[2016-04-05 16:17] AlexChesser commented on #121
Yup - done. Thanks @muratg!

[2016-04-05 16:38] muratg commented on #121
Thanks @AlexChesser for the contribution!

[2016-04-13 07:01] willemKing commented on #18
Errors in /app/project.json
    "aspnet50" is an unsupported framework.
    "aspnetcore50" is an unsupported framework.

[2016-04-13 17:26] zhshqzyc opened #139 "The short switch '-p' is not defined in the switch mappings"
My Dockerfile in an asp.net core 1.0 mvc project is

[code]
Then in docker quick terminal.  Build the image was successfully. The command is
`docker build -t hellodocker:0.1.0  .`

![1](https://cloud.githubusercontent.com/assets/7240266/14502769/faeccef4-017a-11e6-8698-13302cd74e02.PNG)

However when I run the command
`docker run hellodocker:0.1.0 -p 5004`
I got the exception,

![exception](https:

[2016-04-13 17:35] friism commented on #139
@zhshqzyc I don't think you have to pass `-p` to the docker invocation

[2016-04-13 17:46] zhshqzyc commented on #139
I removed the -p from the run command. The error is gone and it shows
Now listening on `localhost:5000`.

I typed the url in the browser.
`Firefox can't establish a connection to the server at localhost:5000.`

[2016-04-13 18:11] friism commented on #139
@zhshqzyc

[code]

The app will then be listening on port 5000.

[2016-04-13 18:19] zhshqzyc commented on #139
@friism

See the error by the code.

![5000](https://cloud.githubusercontent.com/assets/7240266/14504403/b19537de-0182-11e6-8d36-354697d26cf1.PNG)

[2016-04-13 18:30] friism commented on #139
@zhshqzyc I don't know what's the layout of your project, so I can't help.

The example I posted shows running this: https://github.com/aspnet/Home/tree/dev/samples/1.0.0-rc1-update1/HelloMvc

[2016-04-13 20:20] zhshqzyc commented on #139
@friism .

Okay, I downloaded the project from [ https://github.com/aspnet/Home/tree/dev/samples/1.0.0-rc1-update1/HelloMvc](url)

And I tried to follow your command. The only difference is the original project uses the port 5004 instead of 5000.
The Dockerfile is
[code]
The partial project.json file is
[code]
So the build command is `docker build -t aspnet-mvc .`
What is the run command?
I use `d

[2016-04-13 20:31] friism commented on #139
@zhshqzyc you should open wherever your docker machine is running, if using Toolbox you can get it with `docker-machine env default`

[2016-04-13 21:17] #139 closed

[2016-04-15 14:01] zhshqzyc opened #140 "exec: "dnu": executable file not found in $PATH in 1.0.0-beta6"
I am using [microsoft/aspnet:1.0.0-beta6](https://github.com/aspnet/Home/tree/dev/samples/1.0.0-beta6/HelloMvc) model in my own project. It seems that the image is broken.

The Dockerfile is
[code]

See the picture below.
![dnu](https://cloud.githubusercontent.com/assets/7240266/14562723/5b17026e-02ec-11e6-81e3-e1e878a4545d.PNG)

[2016-04-15 14:58] BrennanConroy commented on #140
Why beta6? That is really old, we have RC1 dockerfiles https://github.com/aspnet/aspnet-docker/tree/master/1.0.0-rc1-update1

[2016-04-15 15:10] zhshqzyc commented on #140
I know. But we have application running with beta6. We will upgrade it in the future. But for the time being, it is beta6.

[2016-04-15 15:12] BrennanConroy commented on #140
Ok, well you should probably install dnx in your dockerfile. Take a look at https://github.com/aspnet/aspnet-docker/blob/master/1.0.0-beta6/Dockerfile

[2016-04-15 15:21] zhshqzyc commented on #140
Do you mean my Dockfile should be
[code]
Visual Studio warns me

[2016-04-15 15:41] BrennanConroy commented on #140
I was just pointing it out for reference.
Specifically you need at least something similar to:
[code]

[2016-04-15 17:35] zhshqzyc commented on #140
@BrennanConroy

Need help because I am not strong on dnvm. It warns me

![demo](https://cloud.githubusercontent.com/assets/7240266/14569798/ded65132-030e-11e6-88e5-ed770240734f.PNG)

[2016-04-15 17:45] BrennanConroy commented on #140
Add `RUN apt-get -qq update && apt-get -qqy install unzip`

[2016-04-15 18:03] zhshqzyc commented on #140
@BrennanConroy

I added it. Now my Dockerfile is
[code]
But at the last step. I still get the error
`exec: "dnu": executable file not found in $PATH`

[2016-04-15 18:06] BrennanConroy commented on #140
Ok, so now you need to add the installed dnx to your path `ENV PATH $PATH:$DNX_USER_HOME/runtimes/default/bin`

[2016-04-15 18:19] zhshqzyc commented on #140
@BrennanConroy .

It is downloading but the yellow warning about Timeout. Finally the task was canceled.

![1](https://cloud.githubusercontent.com/assets/7240266/14571005/0c434278-0315-11e6-8016-94b83f7bce16.PNG)

[2016-04-15 18:28] BrennanConroy commented on #140
I don't know what to do about that

[2016-04-15 19:39] zhshqzyc commented on #140
Add this one resolved it. [mono super slow](https://github.com/aspnet/dnx/issues/1590)
[code]

[2016-04-15 19:39] #140 closed

[2016-04-18 05:07] kcd83 commented on #59
This issue still comes up when searching about caching packages so... in short, the answer is yes!

[code]

This works great, at least with docker 1.7 and rc1

[2016-04-18 20:25] friism commented on #59
@kcd83 yes, that's a great approach. The problem is that it's hard to scale for repos with multiple project.json files because of limitations in the docker COPY globbing implementation

[2016-05-03 17:24] deeptowncitizen opened #142 "Is port exposing broken in update1?"
Launching simple ASP Core application in docker with update1 image

Using `1.0.0-rc1-final` version of ASP,  with `6.0.0-rc1-final` MVC version.
My project.json command section:

    "commands": {
        "web": "Microsoft.AspNet.Server.Kestrel --server.urls=http://*:5000/"
    }

Port `5000` is exposed in Dockerfile
Launching docker with `-p 5000:5000`, but my browser can't reach the host.
Docker

[2016-05-05 21:54] #142 closed

[2016-05-05 21:54] deeptowncitizen commented on #142
` --server.urls=http://0.0.0.0:5000/` should be used

[2016-05-19 03:34] tinchou commented on #121
Library is now at version `3.8.7.1`: [https://packages.debian.org/jessie/libsqlite3-dev](https://packages.debian.org/jessie/libsqlite3-dev). Should be OK to remove https://github.com/aspnet/aspnet-docker/blob/master/1.0.0-rc1-update1-coreclr/Dockerfile#L15

(see  https://github.com/aspnet/EntityFramework/issues/3089#issuecomment-220219512)

[2016-06-17 10:32] Hammerstad opened #145 "Repository description"
Hey.

I read on [hanselman.com](http://www.hanselman.com/blog/ASPNET5IsDeadIntroducingASPNETCore10AndNETCore10.aspx) that  ASP.NET 5 is now ASP.NET Core 1.0.

If this is not the case, then please close this issue.

Else, you might want to change the description of the repository from `Docker image for ASP.NET 5` to `Docker image for ASP.NET Core 1.0`

[2016-06-29 06:09] ahmetalpbalkan commented on #124
closing in favor of #136

[2016-06-29 06:09] #124 closed

[2016-07-01 06:18] ravindravv opened #146 "GETTING ERROR WHILE PULLING"
I tried to pull the imag by using docker pull Microsoft/aspnet . getting the below error . please look into this and do the need.

docker : failed to register layer: re-exec error: exit status 1: output: open \\?\C:\ProgramData\docker\windowsfilter\5b580d0b0638dc43a4d74
bf0e05ab3e83736c60c2641146788453c15e4ec6503\usr\share\man\man3\Locale::gettext.3pm.gz: The filename, directory name, or volume la

[2016-07-22 17:11] muratg commented on #146
The current image is not supported.  Since ASP.NET Core and .NET Core RTM'd, I recommend using microsoft/dotnet image and using RTM bit.

[2016-07-22 17:11] #146 closed

[2016-07-22 17:12] muratg commented on #145
Updated the title to reflect the current situation

[2016-07-22 17:12] #145 closed

[2016-08-21 17:04] pabitra opened #147 "dotnet restore is giving error while creating an image for asp.net core application"
**Output of docker version:

` Docker version 1.12.1, build 23cf638

**Output of `docker info`:**

Containers: 33
Running: 2
Paused: 0
Stopped: 31
Images: 40
Server Version: 1.12.1
Storage Driver: aufs
Root Dir: /var/lib/docker/aufs
Backing Filesystem: extfs
Dirs: 93
Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
Volume: local
Network: host bridge null overlay

[2016-09-13 12:51] sesispla commented on #46
Annoying issue.

It rose again when building .NET Core in Kuberntes + CoreOS. From 30 builds, only 4 ended successfully. I tried to disable parallel download with "dotnet restore --disable-parallel" with no luck.

Some error codes I have received:
[code]

[code]

[code]

Randomly, the package restore ends successfully:

[code]

Once I even got the exact error code at build time:
[code]

[2016-09-13 12:57] sesispla commented on #147
Annoying issue.

It rose again when building .NET Core in Kuberntes + CoreOS. From 30 builds, only 4 ended successfully. I tried to disable parallel download with "dotnet restore --disable-parallel" with no luck.

Some error codes I have received:
[code]

[code]

[code]

Randomly, the package restore ends successfully:

[code]

Once I even got the exact error code at build time:
[code]

[2016-09-14 21:58] glennc commented on #147
These latest issues don't appear to be related the original post.

Something strange is definitely happening, but I don't know what. Perhaps @piotrpMSFT or @blackdwarf can help diagnose why the CLI is failing seemingly at random.

[2016-09-14 21:58] #136 closed

[2016-09-14 21:59] #19 closed

[2016-09-14 21:59] #101 closed

[2016-09-14 21:59] #111 closed

[2016-09-14 21:59] #116 closed

[2016-09-14 21:59] #118 closed

[2016-09-14 21:59] #129 closed

[2016-09-14 21:59] #132 closed

[2016-09-14 21:59] #133 closed

[2016-09-14 21:59] #134 closed

[2016-09-14 21:59] #135 closed

[2016-09-15 01:17] atrauzzi commented on #116
:(

[2016-09-22 14:17] MichaelSimons opened #153 "Any plans about mono-based ASP.NET Core image?"
Ported from https://github.com/dotnet/dotnet-docker/issues/45 as this is an ASP.NET specific question.

[2016-09-23 17:23] muratg commented on #153
@MichaelSimons asp.net image is [based on](https://github.com/aspnet/aspnet-docker/blob/master/1.0.1/jessie/build/Dockerfile#L2) dotnet image.

AFAIK, there're no plans to create a supported Mono based image from either team.

[2016-09-23 17:23] #153 closed

[2016-09-23 17:25] muratg commented on #147
@sesispla What image are you using?

[2016-10-03 19:26] glennc commented on #147
Closing due to lack of activity. I don't think there is anything for us to do here, I think that it is a bug in the CLI tools that are being run that happens to surface inside a container. But we can't really verify that without more people who are hitting it helping us diagnose where the problem is to get the right people involved.

[2016-10-03 19:26] #147 closed

[2016-10-06 14:24] douglaswaights opened #155 "Cant run asp.net core full framework app on Windowsservercore Docker'"
Hi,

I'm not sure where to be posting some of these issues... here or Docker for windows github or docker forums.

I'm trying to run a full framework asp.net core app on the lastest windowsservercore docker image on windows 10. I'm on the latest bits at the time of writing. I've attached an image showing the error and that the full framework is in fact installed

The error when doing dotnet run (a

[2016-10-06 14:29] friism commented on #155
Can you post the framework part of your project.json?

[2016-10-06 14:50] douglaswaights commented on #155
yep sure

{
  "dependencies": {
    "Microsoft.AspNetCore.Mvc": "1.0.1",
    "Microsoft.AspNetCore.Routing": "1.0.1",
    "Microsoft.AspNetCore.Server.IISIntegration": "1.0.0",
    "Microsoft.AspNetCore.Server.Kestrel": "1.0.1",
    "Microsoft.Extensions.Configuration.EnvironmentVariables": "1.0.0",
    "Microsoft.Extensions.Configuration.FileExtensions": "1.0.0",
    "Microsoft.Extensions.Configu

[2016-10-07 17:11] troydai commented on #155
Hi @douglaswaights,

Thanks for reporting the issue.

Since your intention is to run a full framework ASP.NET, whether or not .NET Core Runtime is installed is not related.

In your first screen shot it seems that the framework you installed is .NET 4.6 instead of 4.6.1. I can't deterministically tell if they're equivalent but base on the name it seems that the installed framework is one minor ver

[2016-10-07 17:13] shirhatti commented on #155
Adding @staceyhaffner in case she knows what's going on

[2016-10-09 10:39] douglaswaights commented on #155
Hi,

My initial intention is to use the container as a build agent / environment to build asp.net core /dotnet core apps that run on the full framework.

I've also tried setting the framework version to net451 in the project.json and the result is the same.

46 should be backwards compatible to 45.

Its like the dotnet cli sdk doesnt recognise the full framework is installed. Is this because its n

[2016-10-10 19:10] douglaswaights commented on #155
Hi,

This can be closed!

I needed to install the .net sdk dev pack in addition.

NDP461-DevPack-KB3105179-ENU.exe /q inside the running container was what was required.

Thanks
Doug

[2016-10-10 19:10] #155 closed

[2016-10-10 21:27] glennc commented on #155
@richlander @shirhatti This is not the only person I have seen try to do this. How big is the DevPack? Should we install it in the image or create a `-build` variation the same as the aspnetcore image?

[2016-10-10 22:15] shirhatti commented on #155
From what @douglaswaights reported, It isn't evident if this issue repros when trying to run a published app as opposed to running from source. I'd definitely like to verify that isn't the case.

[2016-10-11 07:04] douglaswaights commented on #155
If the app was already published then this was not an issue. Only an issue for building and running from source.

To my mind it makes sense for a 46 and 45 sdks to be provided in an image or images...i guess quite few people may need this....

The 46 dev pack download itself is 90 Mb. Haven't compared docker image size before and after the new layer yet.

Doug

[2016-10-18 19:27] natemcmaster opened #157 "1.1 build image always runs dotnet first run experience"
The 1.0 and 1.0.1 build images have [already run](https://github.com/aspnet/aspnet-docker/blob/0b0ee8c29c9ca0173ada1a76d1a831fba3a896bb/1.0.0/jessie/build/Dockerfile#L22) a dotnet restore, which pre-populates the package cache with the runtime packages. The 1.1 image does not yet do this, so every fresh run of the docker build image adds a ~40 second delay for the dotnet first-run experience.

Sug

[2016-10-18 21:09] troydai commented on #157
/cc @glennc

we can do that, but obviously the size of the image will increase. do we want make the trade?

[2016-10-18 21:09] troydai commented on #157
and it sounds like the "regression"

[2016-10-18 21:40] shirhatti commented on #157
@natemcmaster: You linked to the `build` variant of the 1.0.0 image. Looks like the `product` variant has the [same issue](https://github.com/aspnet/aspnet-docker/blob/0b0ee8c29c9ca0173ada1a76d1a831fba3a896bb/1.0.1/jessie/product/Dockerfile).
My suggestion would be to add the `DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1` to the `product` variant images including retroactively fixing the older images.

[2016-10-18 21:49] natemcmaster commented on #157
@shirhatti the `product` variant shouldn't need this since the SDK isn't installed in the product variant.

+1 for DOTNET_SKIP_FIRST_TIME_EXPERIENCE=1 in the `build` variant. The packages are already there. All we're really missing is a magic sentinel file that indicates if the first time experience has run or not.

[2016-10-18 21:51] troydai commented on #157
ok. i'll assign this to myself and make the change.

[2016-10-18 21:54] troydai commented on #157
actually, if I add the restore back to the dockerfile the first experience won't be an issue since the restore are going to be accomplished already.

[2016-10-21 04:59] glennc commented on #157
The conclusion here was to add  DOTNET_SKIP_FIRST_TIME_EXPERIENCE to the production image right? Since that's what we should do :)

[2016-10-25 17:39] glennc opened #158 "Create a Nano image"
We need a Nano based image for aspnetcore and probably aspnetcore-build as well.

[2016-11-01 16:27] muratg commented on #158
cc @natemcmaster

[2016-11-01 16:29] natemcmaster commented on #158
Should we do this on https://github.com/aspnet/aspnet-win-docker?

[2016-11-01 17:18] muratg commented on #158
@natemcmaster Yeah, I think so.

[2016-11-02 08:56] Vnuuk opened #161 "Docker pull shows Unknown blob error"
Hello guys! I'm trying to pull **microsoft/aspnet** image and see **unknown blob** error during downloading.

Docker version below:
[code]

I'm using Windows 10

And do following code in Docker Quickstart Terminal
`docker pull microsoft/aspnet`

Any ideas?

[2016-11-02 18:24] shirhatti commented on #161
The `microsoft/aspnet` image on DockerHub is a Windows Container image for running ASP.NET 3.5/4.x workloads.

Docker for Windows allow you to switch between Windows and Linux containers. If you did install Docker for Windows you can conveniently switch between the two and you should be good.

![Switch to windows containers](https://docs.docker.com/docker-for-windows/images/config-popup-menu-win-s

[2016-11-05 03:43] eferron opened #163 "Unknown Blob"
docker pull giving an unknown blob error on Windows 10.

[2016-11-05 03:47] eferron commented on #163
Ignore that, I had to switch to Windows Containers and everything worked fine

[2016-11-07 18:39] gonace commented on #161
How about if I get this error when trying to build a .NET Class Library (4.6.2) with bitbucket pipelines?

[2016-11-10 19:51] #163 closed

[2016-11-14 16:51] natemcmaster opened #165 "Verify package cache actually improves startup perf"
We've received some feedback that startup time in Linux docker images is not improved by the presence of the optimized package cache. We should investigate:

- Crossgen on Linux doesn’t work. The generated assemblies don’t save JIT time.
- .NET core host (dotnet.exe) doesn’t pick up package cache correctly.
- The approach in which we generate the packages cache is wrong.

cc @BrennanConroy @shhsu

[2016-11-14 22:26] willseward commented on #155
I agree. We are using the full .Net 462 in a project with core as well. What will it take to get a 462 base image setup?

[2016-11-15 19:15] BrennanConroy commented on #165
The package cache on Linux didn't work before because we created the cache with lower case naming when preview 2 CLI was expecting original casing, after changing the cache to original casing I saw ~33% increase in startup time and first request time

[2016-11-15 20:44] natemcmaster commented on #165
The 1.0.1 docker images have original casing. So, is this issue fixed then?

[2016-11-15 22:07] BrennanConroy commented on #165
Looks like it is good now.

[2016-11-15 22:13] #165 closed

[2016-11-16 01:21] natemcmaster opened #167 "Update README to match microsoft/dotnet"
Follow their example in listing supported tags, usages, explanation of the image, etc.

cc @glennc

[2016-11-16 01:26] natemcmaster commented on #161
As @shirhatti, this issue reported by @Vnuuk is resolved by using Windows containers and there isn't an actionable item for this repo.

@gonace you should open an an issue on https://github.com/Microsoft/aspnet-docker instead. Docker Hub for microsoft/aspnet doesn't reflect that the image is supported there instead because Docker Hub doesn't allow changing the associated GitHub repo AFAIK.

[2016-11-16 01:26] #161 closed

[2016-11-17 00:43] natemcmaster opened #168 "Create LTS tag"
Like latest, but for the slow, stable train.

[2016-11-21 20:55] aL3891 commented on #158
Any update on this? would love to see a nano image :)

[2016-11-22 12:15] flensrocker opened #170 "aspnetcore-build:1.1.0-projectjson contains bad version of Microsoft.AspNetCore.Authentication.JwtBearer"
I updated our asp.net core app to 1.1 and build it inside a docker-container based on `microsoft/aspnetcore-build:1.1.0-projectjson`.

I get the following error:
`error CS1705: Assembly 'Microsoft.AspNetCore.Authentication.JwtBearer' with identity 'Microsoft.AspNetCore.Authentication.JwtBearer, Version=1.1.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60' uses 'Microsoft.IdentityModel.Tokens,

[2016-11-22 17:01] natemcmaster commented on #170
I can confirm that the Microsoft.AspNetCore.Authentication.JwtBearer assembly inside the `microsoft/aspnetcore-build:1.1.0-projectjson` image carries and assembly reference to "Microsoft.IdentityModel.Tokens, Version=5.1.0.832". It looks like the docker image has a bad cache of packages. I'll trigger a rebuild of the image on docker hub. You'll need to re-pull the image but it should solve the iss

[2016-11-22 17:20] natemcmaster commented on #170
Fixed in https://hub.docker.com/r/microsoft/aspnetcore-build/builds/b3vvje7kta3tsby5tloamhl/

[2016-11-22 17:20] #170 closed

[2016-11-22 18:18] flensrocker commented on #170
I can confirm that my app builds with the new image. Thank you!

[2016-11-28 16:46] natemcmaster opened #171 "Update NuGet cache warmup to use MSBuild instead of project.json"
Current MSBuild images use `dotnet nuget restore project.json` to warm the caches. This will be removed in the next version of NuGet.

Cref https://github.com/NuGet/Home/issues/3903.

[2016-11-30 17:46] natemcmaster commented on #167
https://github.com/aspnet/aspnet-docker/pull/169

[2016-11-30 17:46] #167 closed

[2016-12-05 13:36] doggyde opened #174 "Missing nodejs and missing folders in output"
to be deleted

[2016-12-06 10:28] #174 closed

[2016-12-07 14:15] mjdavies opened #175 "Keeps asking for SDK"
Hello everyone

I've followed the instructions on the docker hub page and created my own dll, but I can't seem to get my container to run, it keeps asking for the SDK?

Here's what I'm trying to achieve

https://hub.docker.com/r/microsoft/aspnetcore/

Anyone got any ideas?

Keeps saying this on docker run

Did you mean to run dotnet SDK commands? Please install dotnet SDK from:
  http://go.microso

[2016-12-07 17:43] natemcmaster commented on #175
Can you share your docker file or exactly what steps you are taking? You should be able to execute `dotnet MyApp.dll` in this image.

On the otherhand, if you are trying to run `dotnet restore` or `dotnet build`, you need the https://hub.docker.com/r/microsoft/aspnetcore-build/ image instead.

[2016-12-07 18:04] #168 closed

[2016-12-07 21:46] glennc commented on #158
It is on our list to do, but with all our recent releases it hasn't hit the top of the list yet. The `dotnet` image has Nano versions. So for the short term you would have to use that.

[2016-12-08 10:03] mjdavies commented on #175
Hi @natemcmaster , thanks for getting back.

I'm actually asking for someone else, so they'll be able to give you some more info about what's going on here.

Kwe, this gent may be able to help you.

@kwe

[2016-12-08 16:57] MichaelSimons opened #177 "Images are not identical for equivalent tags"
**Repo Steps**
1. Pull the 1.0.1 and lts tags.
2. Run `Docker Inspect` on these tags and inspect the layers, the image shas and the repo tags sections.

**Expected Results:**
The images should be identical and have all of the same layers

**Actual Results**
The images are not identical

1.0.1 - sha256:a6243daeaf8a87804c9134690e6b0d7b0e219b5211d90258910e9548bb61d73c
lts - sha256:0ff2fd6ffd3910fccb9

[2016-12-08 18:02] natemcmaster commented on #177
Thanks for sharing. I noticed the same thing and was just reading up on the post_push hooks yesterday. Will get a fix soon.

[2016-12-09 09:44] paddyfay opened #179 "port binding not working"
I am trying to bind ports between my docker host and aspnet container. The container is created from the latest aspnet image. The following run command successfully starts the container however the aspnet site is only reachable from the private IP address of the container.

docker run -d -p 80:80 --name=test-site asp-site

The relating entry in docker hub states that reaching the container using l

[2016-12-09 17:14] #177 closed

[2016-12-12 18:56] mktitan commented on #175
@natemcmaster I'm having the same issue. My Dockerfile:

[code]
gives

[code]

[2016-12-12 19:20] natemcmaster commented on #175
Docker is Linux based. Use forward slashes. Also, [WORKDIR](https://docs.docker.com/engine/reference/builder/#/workdir) is a path within the container, and is not relative to your project.

Which folder is the Dockerfile in relative to your source code? If is next to your project.json/csproj file, my guess is RecensysCoreWebAPI.dll isn't in the entry folder. Run `docker run --rm -it --entrypoint=/

[2016-12-13 12:51] mktitan commented on #175
@natemcmaster Thank you for the feedback. I wasn't getting the dlls into the container, but that works now.

dotnet will give the message that we got whenever an unrecognized parameter is provided. In our case it couldn't find the dll file. Notice that the name is case-sensitive.

@mjdavies I think this issue can be closed.

[2016-12-13 14:05] mjdavies commented on #175
@mktitan I believe you are correct

[2016-12-13 14:05] #175 closed

[2016-12-13 17:55] natemcmaster commented on #179
This issue was moved to Microsoft/aspnet-docker#13

[2016-12-13 17:55] #179 closed

[2016-12-13 17:57] natemcmaster commented on #179
@paddyfay I've moved your issue to the appropriate repo. We're aware Docker Hub pointed you here. We have not yet been able to update that link to point to the microsoft/aspnet images's new GitHub home. (cref https://github.com/Microsoft/aspnet-docker/issues/2)

[2016-12-24 12:31] DMWOO7 opened #180 "Included files/folders in publishOptions are ignored on linux/docker"
I followed [this Article](https://blogs.msdn.microsoft.com/stevelasker/2016/09/29/building-optimized-docker-images-with-asp-net-core/) for setting up a docker container that build and publish an ASP.NET Core 1.0.1 application. But on linux, any included files and folders like the views are missing. I already posted it in SO [here](http://stackoverflow.com/questions/41306314/the-directory-name-app-

[2016-12-25 19:08] git-jiby-me opened #181 "Rebuild 3.5 tag on new windowsservercore base image version"
It seems the version of base image windowsservercore was updated (latest one is 10.0.14393.576), however it seems the 3.5 tag is not rebuild using the new base image, can you guys do that, so that we end up reusing the base image used by other images, and end up using the latest base image ?

[2016-12-27 20:56] DMWOO7 commented on #180
The problem is a mistake in the [documentation](https://hub.docker.com/r/microsoft/aspnetcore-build/). At the end, here is written for the dockerfile

`RUN dotnet publish --output /out/. --configuration Release`

which is not correct, there is a space between the output folder and the dot missing. It should be

`RUN dotnet publish --output /out/. --configuration Release`

But the dotnet CI doesn't

[2016-12-30 12:39] ClaytonHunt opened #182 "Update NodeJs version"
The Node version is currently 4.5.0
The current LTS for node is 6.9.2
The current available version for node is 7.3.0

Can this be updated? I'm happy to submit a pull request for it.

[2017-01-03 18:24] natemcmaster commented on #181
This issue was moved to Microsoft/aspnet-docker#15

[2017-01-03 18:24] #181 closed

[2017-01-03 18:30] natemcmaster commented on #180
Suggested resolution: we fix the README.md. Also, this is likely mitigated by migration to MSBuild.

@glennc, we should review the examples in README.md to make sure they work with MSBuild CLI

[2017-01-03 18:31] natemcmaster commented on #182
Seems reasonable, as long as @glennc is on board too.

[2017-01-03 23:24] kendrahavens commented on #158
I'll add having a nano server image for aspnetcore would make the documentation I'm working on more cohesive.

[2017-01-05 17:11] natemcmaster commented on #180
README updated in https://github.com/aspnet/aspnet-docker/commit/194aaeece56dc32a20c442377e69cb2a8a798c32

[2017-01-05 17:11] #180 closed

[2017-01-06 05:47] glennc commented on #182
Seems reasonable to me, if you submit a PR I would accept it.

[2017-01-06 05:47] glennc commented on #182
I am thinking the current node LTS is what we should stick with. Agreed?

[2017-01-06 11:18] ClaytonHunt commented on #182
Awesome, thanks for the replies. I will assume LTS unless more discussion around which node version occurs and I will submit a PR sometime this weekend.

[2017-01-06 17:36] natemcmaster commented on #182
Looking forward to it. You can tag me as the reviewer and I'll help get this merged.

[2017-01-09 21:49] natemcmaster commented on #182
Resolved in https://github.com/aspnet/aspnet-docker/pull/185

[2017-01-09 21:49] #182 closed

[2017-01-13 19:22] matjazmav opened #186 "[Question] Debugging containerized ASP.NET Core application from VS Code"
I don't know where to ask. Is it possible to run and debug ASP.NET Core application that run inside container from Visual Studio Code? Can you provide tutorial how to do so?

[2017-01-13 20:07] natemcmaster commented on #186
cc @stevelasker

[2017-01-13 22:32] tanaka-takayoshi commented on #186
I confirmed it. You may have to run Visual Studio Code on the same machine as a docker host and to install and run ``clrdbg`` in the docker container. If you use kubernetes, OpenShift and like other technologies, you can remote debug from Visual Studio code to ASP.NET Core container.
I blogged [this theme in Japanese](http://tech.tanaka733.net/entry/remote-debug-aspnetcore-on-docker-from-visual-st

[2017-01-13 22:34] SteveLasker commented on #186
You can do this with the Visual Studio Code extension: http://aka.ms/DockerToolsForVSCode

[2017-01-16 09:11] godblesslorry opened #187 "there is an error while i pulling this image"
[code]
i have retry on win10 and ubuntu, receive the same result. how to fix it?

[2017-01-17 17:55] natemcmaster commented on #187
Closing as this is unrelated to ASP.NET docker images. It appears to be an issue with the docker engine itself. I would suggest looking at https://github.com/docker/docker instead.

[2017-01-17 17:55] #187 closed

[2017-01-17 17:59] natemcmaster commented on #186
Closing as it appears this question has been answered. Feel free to continue discussion.

[2017-01-17 17:59] #186 closed

[2017-01-21 00:02] #171 closed

[2017-01-21 00:08] natemcmaster opened #189 "Automate docker tag verification"
As a part of automating builds better, we should add checks to ensure tag aliases are actually the same image. (see #177).

Example of tool we could use:
See https://github.com/MichaelSimons/docker-toolbox/blob/fd480ceb648a7a2e8f590f2560e43ef10a4db32a/verify-tags.ps1

[2017-01-24 15:08] stanuku opened #192 "Failed to run a container from a custom docker image for ASPNET Core app"
I generated the application with yeoman and then added a plain vanilla docker file.

[code]
The image gets created fine on docker build, but when I run it the container exits and I see the below message on the console.
[code]
I think microsoft/aspnetcore only brings in the runtime and not the SDK ??

**However if I change the FROM to microsoft/dotnet, then the container runs fine.**

[2017-01-27 09:02] kwaazaar opened #193 "Solution build"
This works for building a single project. But how do i build a whole solution? dotnet restore in the solution folder works fine, dotnet build however does not (it cannot find a project.json).

[2017-01-30 19:36] natemcmaster commented on #193
Add a 'global.json' file to your project and use the 'projects' property. https://docs.microsoft.com/en-us/dotnet/articles/core/tools/global-json

Closing as the issue is external to docker.

[2017-01-30 19:36] #193 closed

[2017-01-30 19:37] natemcmaster commented on #192
Use `FROM microsoft/aspnetcore-build` instead. `microsoft/aspnetcore` is a runtime-only image.

[2017-01-30 19:37] #192 closed

[2017-02-05 17:39] DMWOO7 opened #197 "App is named to app.dll instead of ${ProjectName} after publishing on Kubuntu"
I'm publishing an ASP.NET Core 1.1 application using Docker on a Kubuntu 16.04 host, which is based on the same version of the Ubuntu LTS version. Normally, when I ran `dotnet publish`, a DLL is created, which has the same name of the project. So when the project is called _MyProject_, I can start the published app using `dotnet MyApp.dll`.

But that's not working. I found out that a DLL is create

[2017-02-06 16:55] natemcmaster commented on #197
By default, project.json names your assembly after the folder name containing project.json, which in your case is "app". You can change this by setting "buildOptions > outputName". cref https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json#buildoptions

[2017-02-07 02:57] natemcmaster opened #199 "[Discussion] Update `latest` tag to use MSBuild"
_The `microsoft/dotnet` image will also be making this change. See https://github.com/dotnet/dotnet-docker/issues/201_

Discussion issue for https://github.com/aspnet/Announcements/issues/219

[2017-02-07 18:26] DMWOO7 commented on #197
Thanks, that explains the situation. Since I normally had the application in a folder called like the project, I thought .NET Core is using the name of the project. I think that would be a better idea, especially since ASP.NET Core is docker-compatible. There it's common to deploy to a general folder like `/app`, where this behaviour can cause confusion.

But since this isn't a real bug, I close t

[2017-02-07 18:26] #197 closed

[2017-02-07 18:36] DMWOO7 commented on #199
It's a good idea to promote the new MSBuild. But I think, that's really too early! When you're using the full Visual Studio IDE in Windows, Version 2017 is required. VS 2017 isn't at least finally released yet, only the RC. Even thought it is, we should give the people try to update. Especially paid licenses wouldn't do an upgrade one day after the final release, since they've to pay the full pric

[2017-02-07 19:54] natemcmaster commented on #199
As the announcement said, the project.json build images still exist. Use `microsoft/aspnetcore-build:1.0.0-projectjson` and `microsoft/aspnetcore-build:1.1.0-projectjson`

VS 2017 templates _only_ use MSBuild SDK and do not support the project.json format.

We realize there are pros and cons of doing it now. When we considered all factors, we decided to move forward with the change. Some of those

[2017-02-07 22:50] natemcmaster opened #200 "Drop support for the project.json images"
At some point in the near future, we will stop supporting the project.json images. When we do that, we can remove Dockerfiles and simplify test code.

cref #199

[2017-02-09 06:04] glennc commented on #200
Seems reasonable to throw this into the 2.0 milestone and do it when it makes sense.

[2017-02-09 10:41] ferpegaplain opened #201 "Did you mean to run dotnet SDK commands? Please install dotnet SDK from:"
Hello,

Why nobody is answering here:
https://hub.docker.com/r/microsoft/aspnetcore/

about the problem when you try to run (externally -command line-) a newly created ASPNET.Core application (with visual studio) and added Docker support to it?

When you try to run it:
`docker run xxxx/myapp`

it shows this error and stop:
[code]

Regards.

[2017-02-09 17:32] MichaelSimons opened #202 "Remove number of downloads and stars from READMEs"
Currently the READMEs show the number of downloads and stars. When viewing the README on [Docker Store](https://store.docker.com/community/images/microsoft/aspnetcore-build), the number of downloads is confusing because Docker Store is already displaying the number of pulls at the top of the page.  The two numbers are rounded differently which is why I believe it is confusing.  Additionally, Docke

[2017-02-09 18:27] natemcmaster commented on #201
@ferpegaplain Docker Hub doesn't provide notifications to us when people make comments. Fortunately, you've arrived at the right place to ask questions. Sorry for any delay.

As explained in the description, the `microsoft/aspnetcore` image only contains the runtime, not the SDK. Use the [`microsoft/aspnetcore-build` image](https://hub.docker.com/r/microsoft/aspnetcore-build/) instead if you want

[2017-02-09 18:27] #201 closed

[2017-02-09 18:51] natemcmaster commented on #200
Along with this, we can drop the '-msbuild' suffix from our tags.

[2017-02-09 21:13] natemcmaster commented on #200
👀  https://github.com/dotnet/dotnet-docker/issues/204

[2017-02-10 07:28] ferpegaplain commented on #201
Thanks @natemcmaster for your answer.

I was only looking for execute a simply 'aspnetcore' app but outside Visual Studio and with usual docker commands.  And also build & release this same container inside Visual Studio Online (VSO) with docker plugin installed.

But I have not had luck for the moment.

[2017-02-10 09:26] kwaazaar commented on #158
I'm currently trying to create powershell scripts and Dockerfiles for building and running my .NET core solution on Windows containers, where I already had everything running on Linux containers. I expect the windows equivalent versions of all containers to 1) exist, 2) have a consistent naming convention, so I only need to add a tag, whatever. Both 1 and 2 are not (fully) in place.

I'm searching

[2017-02-10 16:30] natemcmaster commented on #201
I'm not familiar with VSO's docker plugin, but here are examples of how to use these images. Feel free to continue discussion if you have more questions.

[Example usage of microsoft/aspnetcore-build](https://github.com/aspnet/aspnet-docker/blob/708206d68ffa1b67e4a1fe329de42c72fd8b0b0a/1.1/jessie/build-msbuild/README.md#example-usage)
[Example usage of microsoft/aspnetcore](https://github.com/aspn

[2017-02-11 13:21] ferpegaplain commented on #201
Ok @natemcmaster with the 'microsoft/aspnetcore-build'  image I am trying to execute (run) a new/unmodified AspNetCore project from outside Visual Studio (I have forgot the VSO stuff for the moment).

I am using:
Windows 10 + **Mintt/bash** (from last Git for Windows installation)

After a lot of tries  looking for translate pure bash commands to mintt a finish with this command line:

Take a look

[2017-02-11 18:21] natemcmaster commented on #201
It looks like you are trying to build a project.json project. When you pull `microsoft/aspnetcore-build` it will give you the "latest" tag which only supports the new MSBuild SDK for .NET Core. To build project.json, specify `microsoft/aspnetcore-build:1.1.0-projectjson` instead. See https://github.com/aspnet/Announcements/issues/219.

[2017-02-16 06:21] glennc commented on #158
This repo has several readmes, but they are all in the directories for the specific images they document rather than the top level. We could put one of those at the root, but it wouldn't really help, and I think that adding one not specific to one of the images we build would not work well with the docker build system that is linked to the repo. You're right that it is confusing, but we didn't lea

[2017-02-19 11:09] lalitkale commented on #147
This is not right to close the issue without fixing it. I am still facing this issue on my windows 10 preview builds and docker 1.13.1 (channel:stable)

[2017-02-23 05:56] glennc commented on #147
@lalitkale Whilst this repo is where we have the code to build the ASP.NET Core docker images, the examples given either don't say what image they are using are not using the images from this repo. The errors are also not likely to actually be caused by being inside a container even if they where. The CLI https://github.com/dotnet/cli or NuGet https://github.com/NuGet/Home repositories are more ap

[2017-02-24 02:40] lalitkale commented on #147
@glennc Thank you for responding on this. I will file an issue on cli repo with details. Give me a day or two.

[2017-02-27 19:02] natemcmaster opened #203 "Produce 1.0.4 and 1.1.1 images"
Prepare latest patch update for release.

[2017-02-28 00:58] MichaelSimons opened #204 "Create tag-details.md to describe in more depth the various tags"
## Benefits of adding tag-details.md
•	Help provide more info on the breakdown of what is in each Docker image
•	Help explain the naming conventions behind tag schema
•	Other repos use this solution to help new users understand their repo

Related to https://github.com/dotnet/dotnet-docker/issues/212

[2017-02-28 05:08] BharatRajMeriyala opened #205 "Unable to use System.Net.NetworkCredential inside docker"
I am trying to authenticate my call to a SSRS report server hosted outside the docker application. And to accress the report I do the following:

HttpWebRequest webRequest = WebRequest.Create(sTargetURL) as HttpWebRequest;
webRequest.Credentials = new NetworkCredential(strReportUser, strReportUserPW);
WebResponse HttpWResp = await webRequest.GetResponseAsync();

But I continuesly get 401 unauthori

[2017-03-02 06:23] #205 closed

[2017-03-06 19:46] #200 closed

[2017-03-06 19:46] #203 closed

[2017-03-07 22:39] gabrielweyer opened #207 "[Question] When will you release the aspnetcore-build image for .NET Core 1.1.1?"
When will you release the `aspnetcore-build` image for .NET Core `1.1.1`?

I upgraded from VS 2017 RC 4 to VS 2017. VS then recommended me to update to .NET Core 1.1.1. I was able to build and run the tests locally but the tests could not run inside a `aspnetcore-build` container.

Output from the Docker container:

[code]

**Note**: I obfuscated the full project names / assembly names.

[2017-03-07 23:23] natemcmaster commented on #207
Yesterday. It should be up already. `microsoft/aspnetcore-build:1.1.1`. If you're using the `latest` tag, make sure to re-pull the image.

[2017-03-08 22:17] billpratt opened #208 "Latest 1.1 image: appsettings environment files casing issue"
Dev app settings file: appsettings.development.json
ASPNETCORE_ENVIRONMENT=Development

Locally on both Windows and macOS, the casing between the environment specific appsettings filename, ie appsettings.development.json, and the environment variable ASPNETCORE_ENVIRONMENT was case-insensitive. This was also true to prior versions of the 1.1 image. With the latest 1.1 image, if ASPNETCORE_ENVIRONM

[2017-03-09 03:02] geminiyellow opened #210 "how to update node to current version base this image"
this image use the LTS node version, that is good.
but i want to use the newest node version.
anybody can tell me how to use it?

[2017-03-09 03:25] natemcmaster commented on #210
Are you asking how to use node 7.7 in the image?

[2017-03-09 03:25] #207 closed

[2017-03-09 04:20] geminiyellow commented on #210
yep, current version is `7.7.2`

[2017-03-09 07:05] natemcmaster commented on #210
As you already noticed, our images have Node LTS in them. You can always build your own image by copying our Dockerfile and updating it to Node 7.

Unless we have a compelling reason to change this, we plan keep using LTS in our images.

That said, are there features of Node 7 that you require for building ASP.NET Core apps?

[2017-03-09 07:07] geminiyellow commented on #210
@natemcmaster ok, thank you, got it.

no, just want to use the nightly build.

[2017-03-09 07:07] #210 closed

[2017-03-09 13:24] schwamster opened #211 "dotnet test with logger trx is not working"
![capture](https://cloud.githubusercontent.com/assets/10597594/23751799/2a49576a-04d3-11e7-8069-655109a2f99e.PNG)

background:
i just switched from project.json to csproj and 1.1.0 to 1.1.1
when changing that i realized that

`dotnet test -xml testresult.xml`

does not work anymore. I found you can use the parameter --logger for that. So on my windows machine
i ran

`dotnet test --logger:trx `

an

[2017-03-10 21:01] gabrielweyer commented on #207
I was using `microsoft/aspnetcore-build:1.0-1.1-2017-03`, using `microsoft/aspnetcore-build:1.1.1` instead fixed my issue. Thanks.

[2017-03-16 17:15] natemcmaster commented on #211
Which version of dotnet is in your image? `dotnet --info`. I'm guessing you have a stale image and need to re-pull. I could not reproduce this with the latest.

![image](https://cloud.githubusercontent.com/assets/2696087/24009224/85d2ec64-0a31-11e7-9977-28de9ce3bd7c.png)

[2017-03-16 17:20] natemcmaster commented on #208
Our images never set ASPNETCORE_ENVIRONMENT. Can you share a dockerfile or docker-compose.yml file?

cc @Tratcher - I don't believe ASP.NET Core hosting has ever attempted to auto-correct case differences in env and file names.

[2017-03-16 17:25] natemcmaster commented on #199
Visual Studio 2017 and .NET Core 1.0.0 tooling has RTMed, so project.json images have been discontinued. We won't remove the tagged images, but they will not longer receive updates.

[2017-03-16 17:25] #199 closed

[2017-03-16 18:11] Tratcher commented on #208
Case sensitivity is a feature of the underlying file systems and ASP.NET does not attempt to second-guess / compensate for it. E.g. File names are case insensitive on Windows and case sensitive on Mac/Linux.

[2017-03-16 20:35] billpratt commented on #208
That makes sense. I wasn't implying that the images set the environment but rather the case sensitivity differences I was seeing when setting the environment variable. I'll close this ticket.

[2017-03-16 20:35] #208 closed

[2017-03-19 11:28] opencloudcode opened #212 "asp.net core project fails to build"
Can someone help on what going on here?

The project is on my github page
https://github.com/opencloudcode/aspnetcoreangular2docker

My goal is just to have the application running on a container. I just want to have a way where I can just do a:
"docker run -d -p 8000:80  shahel/aspnetcoreangular2docker"

I did a "docker run -it shahel/aspnetcoreangular2docker" and then "dotnet restore" and got th

[2017-03-20 13:55] schwamster commented on #211
![capture](https://cloud.githubusercontent.com/assets/10597594/24102750/33def700-0d7d-11e7-9014-1dc1d749f7d3.PNG)

[2017-03-20 14:52] schwamster commented on #211
removing and re-pulling the image did not help...

[2017-03-20 16:43] natemcmaster commented on #211
Can you share a project and a dockerfile that reproduces this issue? I'm still not able to reproduce using `microsoft/aspnetcore-build:latest`.

These are my steps:
[code]
This produces a trx file as expected.

[2017-03-20 16:55] natemcmaster commented on #212
You will need to add file name to any dotnet args. e.g. `dotnet restore aspnetcoreangular2.csproj`. When a file is not specified, MSBuild looks for anything that matches \*.sln or \*.\*proj. MSBuild is finding both your .csproj and .dcproj file.

I'm closing as there is nothing the docker image can change to fix this. MSBuild has behaved this way for about 10 years and is very unlikely that will c

[2017-03-20 16:55] #212 closed

[2017-03-21 07:18] schwamster commented on #211
running it from scratch as described by you in the prev comment does indeed produce a trx file.
so the problem must be with the project itself - will investigate that further and post an update later

[2017-03-21 11:35] schwamster commented on #211
ok, some more info:

after figuring out, that it worked fine with @natemcmaster 's sequence i played around with it a little bit more. and i found out, that i can reproduce the problem if i do it closer to my own example and that is with a volume mount. Important info: Running Docker Toolbox on Win 7!!

`docker run -it --rm  -v //c/Users/myuser/myapp:/app microsoft/aspnetcore-build:latest
cd /app

[2017-03-21 20:03] natemcmaster commented on #211
Glad you figured it out. I'm going to close this as it's not something the docker images can fix. You can workaround by changing the trx filename.
`dotnet test "--logger:trx;LogFileName=results.trx"`.

Can you open an issue on https://github.com/microsoft/vstest to not use semicolons in the trx file by default?

[2017-03-21 20:03] #211 closed

[2017-03-22 17:43] b-szypelow opened #213 "Dockerized 1.1 mvc app doesn't run"
## Steps to reproduce the issue
1. On Ubuntu, create a new mvc app:
`mkdir myapp`
`cd myapp`
`dotnet new mvc`
Generated csproj is like:

[code]

2. Create a Dockerfile like:

[code]

3. Build
`dotnet restore`
`dotnet publish -c release -o obj/Docker/publish`
`docker build -t my/app .`

4. Run
`docker run -p 80:80 my/app`

## Expected behavior
Just like with `dotnet run`, the app should start:

[2017-03-22 19:59] natemcmaster commented on #213
Try changing to `WORKDIR /app`. I can repro the error when running from the root folder, but it works if you move the app into a subfolder.

[2017-03-23 09:32] #213 closed

[2017-03-29 21:31] glennc commented on #158
@natemcmaster Can you look at making the Dockerfiles? @MichaelSimons will take care of making sure they are being built and pushed.

[2017-03-29 21:52] natemcmaster commented on #158
Should we put these Dockerfiles here or https://github.com/aspnet/aspnet-win-docker?

[2017-03-30 02:51] MichaelSimons commented on #158
@natemcmaster, IMO they should be next to the Debian variants (e.g. in the same repo).  This will make it much easier to support the Docker multi-arch functionality (e.g. use a common tag between the Debian and Nano images)

[2017-03-31 12:13] herecydev opened #214 "Creating a Debug image"
Finding information on vsdbg is very difficult but I believe it's the correct tool for debugging remote .NET core code. In my situation I'm running a .NET core app in a docker container which I would then like to attach to. My dockerfile looks like this:

[code]

It would great to have an official image that includes debugging support as this currently massively inflates the build times.

[2017-04-03 17:27] natemcmaster opened #215 "Create .NET Core 2.0 docker images"
Once available, the `latest` tag should move to 2.0 and `lts` should move to `1.1`.

The 2.0 images will need to react to changes in how crossgen assets are loaded:

 - DOTNET_HOSTING_OPTIMIZATION_CACHE has been retired https://github.com/dotnet/core-setup/pull/1330
 - Package store layout on disk is different from current optimization cache. See https://github.com/dotnet/core-proposals/blob/maste

[2017-04-03 19:39] MichaelSimons commented on #158
@natemcmaster, I see you recently added the `working` label.  Just so I can plan my work accordingly, do you have a rough idea on when the Dockerfiles will be available?

[2017-04-03 19:41] natemcmaster commented on #158
I should have an initial draft ready later today. Testing and verification should be done this week.

[2017-04-04 15:38] drewnoakes opened #217 "Building via image fails as bower won't run with sudo"
## Steps to reproduce the issue

csproj contains a `bower install` step:

[code]

Run a command such as:

[code]

## Expected behavior

Build works.

## Actual behavior

Complains that bower won't run as root, and that bower exit code was 1.

[code]

## Additional information

Seems a fix is to include the following in the image's Dockerfile:

[code]

## Output of `dotnet --info`

Build occurs in

[2017-04-05 19:06] natemcmaster opened #218 "Use xplat powershell"
We can use xplat powershell to avoid maintaining two identical scripts in bash and powershell.

[2017-04-05 19:26] natemcmaster commented on #158
Adding @MichaelSimons as an assignee (along with myself).

Remaining work:

- [x] Create dockerfiles (done in #216)
- [ ] Setup CI infrastructure to build + test + push (@MichaelSimons)
- [ ] Update README with nanoserver tags (@natemcmaster)

[2017-04-05 20:37] natemcmaster commented on #217
As pointed about above, the fix is simple. Generating bowerrc could be added to the [RUN statement](https://github.com/aspnet/aspnet-docker/blob/a50d68afd6a3dcea0607ade3c2dc8fb35f0d2e04/1.0/jessie/sdk/Dockerfile#L33) that installs bower. @drewnoakes would you be interested in making a PR to add the fix to our Debian-based images?

[2017-04-05 22:19] drewnoakes commented on #217
Sure, I can put a PR together.

There are five `Dockerfile`s that install bower. Do you want this on all of them?

[code]

[2017-04-05 22:21] natemcmaster commented on #217
You can exclude the dockerfiles in 'nanoserver'. Those don't required the setting.

[2017-04-05 22:51] #217 closed

[2017-04-06 16:59] MichaelSimons commented on #158
@natemcmaster - I hooked CI for build + test + push.  Are you going to hookup Travis CI for PRs?  Is there support for this scenario in Travis?

[2017-04-06 17:01] natemcmaster commented on #158
Travis can only build Debian-based images. We might be able to use AppVeyor to build PRs to the Nano Serve image, but I'm not sure if their agents use Linux or Windows containers.

[2017-04-06 17:06] kwaazaar commented on #158
Their new VS 2017 agent runs on Windows Server 2016 and supports Docker.
That should do, right?

Op do 6 apr. 2017 19:01 schreef Nate McMaster <notifications@github.com>:

[2017-04-06 17:17] natemcmaster commented on #158
Not necessarily. "Docker for Windows" can be configured to run Linux or Windows containers, but not both. I would guess it's the latter as Linux containers are more popular.

[2017-04-06 17:21] kwaazaar commented on #158
https://www.appveyor.com/docs/build-environment/#docker

For Windows it is.

Op do 6 apr. 2017 19:17 schreef Nate McMaster <notifications@github.com>:

[2017-04-06 17:23] natemcmaster commented on #158
👏 adding that page to my bookmarks. Thanks @kwaazaar. I'll look into enabling AppVeyor for PRs

[2017-04-06 19:00] #158 closed

[2017-04-06 19:00] #202 closed

[2017-04-07 02:31] MichaelSimons opened #224 "Add multi-arch support"
This feature is about being able to pull a common tag (e.g. latest) from any platform (e.g. linux or windows) and get an image that will work on that platform.  See Multi-Platform Support of https://blog.docker.com/2016/04/docker-windows-server-tp5/ for more details.

Support should be added in a phased approach since tooling for producing the manifest is not all that it needs to be just yet.

Wor

[2017-04-11 21:55] dealdiane opened #227 "Add image to allow building against a full .NET framework"
Are there plans to add an image for aspnetcore-build that's based on the full framework?

[2017-04-11 22:02] natemcmaster commented on #227
An image already exists, but it's Windows-only. Use `microsoft/aspnet`. See https://github.com/microsoft/aspnet-docker and https://hub.docker.com/r/microsoft/aspnet/ for more details.

[2017-04-11 22:02] #227 closed

[2017-04-11 22:28] dealdiane commented on #227
Correct me if I'm wrong but that image is for running a website not for when you want to build an aspnet core app against a full framework.

[2017-04-12 00:24] natemcmaster commented on #227
You're correct, it is for running on .NET Framework, not building. We do not have plans to support building for .NET Framework in a container. If you really need this, please open the issue on https://github.com/microsoft/aspnet-docker. This repo is dedicated to .NET Core-only images.

[2017-04-25 12:59] SrivatsaMarichi opened #228 "unable to pull the image from ps"
Hi,

I am building aspnet webapp with docker using VS 2017 RTM. I did a "docker pull microsoft/aspnet". The docker tried to pull the image, but it restarted  to download again and again of the size 4gigs. Can anyone help me out here?

![2017-04-25_1827](https://cloud.githubusercontent.com/assets/13433045/25386477/222336f0-29e5-11e7-8f13-f78db76453a6.png)

Thanks,
Srivatsa

[2017-04-25 14:36] natemcmaster commented on #228
Are you trying to build an ASP.NET **Core** app? If so, use `microsoft/aspnetcore` or `microsoft/aspnetcore-build`.

[2017-04-25 15:06] SrivatsaMarichi commented on #228
No I'm trying to build aspnet. Not the .Netcore.

[2017-04-25 15:50] natemcmaster commented on #228
Ok. You'll have to go to https://github.com/microsoft/aspnet-docker then for help with  `microsoft/aspnet`. Sorry to bounce you to a new GitHub repository. We're aware that Docker Hub says to go here. Unfortunately, we don't have a good way to update the link there. See https://github.com/Microsoft/aspnet-docker/issues/2

[2017-04-27 17:50] DanJ210 opened #229 "Missing Assemblies and References Using the aspnetcore-build Image."
I'm using the tutorial at this link but I'm getting tons of errors about the dependencies not existing.
[Aspnetcore-build Tutorial](https://store.docker.com/community/images/microsoft/aspnetcore-build)
I think what's happening is the same thing that was happening with trying to run builds on VTFS... The latest .Net Core which uses NuGet 4.0 and .csproj instead of project.json does not work with wh

[2017-05-03 23:14] billpratt opened #232 "decimal ToString("C") output difference when running on aspnet core Docker images"
I have an app that uses the decimal ToString(String, IFormatProvider) method to get currency formatted string for a specific culture ie $7.99 for en-US. I have noticed a slight difference for the culture "da-dk" on what is returned when running on the microsoft/aspnetcore and microsoft/aspnetcore-build Docker images. I originally submitted this [issue on the dotnet/corefx repo](https://github.com/

[2017-05-04 00:38] natemcmaster commented on #232
@billpratt  try setting the locale inside the docker image. Here's a good post on that. http://jaredmarkell.com/docker-and-locales/

Here's the output of `locale` inside the `microsoft/aspnetcore` in Docker.
[code]

[2017-05-04 14:10] billpratt commented on #232
@natemcmaster Im not sure that will work for my case. My app must support currency formatting for multiple cultures. It takes in a culture code like "en-US", "da-DK", "es-ES", etc and returns the formatted currency for that culture.

[2017-05-04 15:04] billpratt commented on #232
When I run similar tests using the Docker image ubuntu:16.04 I am getting more accurate results. I will continue to investigate with the above suggestion.

[2017-05-05 20:15] DanJ210 opened #233 "Container exits with error code (134) - Following tutorial exactly."
Lol I am ripping my hair out trying to figure out what I'm doing wrong.

## Steps to reproduce the issue
(e.g. copy your Dockerfile or docker-compose.yml file here)
1. [Follow tutorial](https://hub.docker.com/r/microsoft/aspnetcore/)
2. dotnet publish -o:./published
3. docker build -t myapp .
4. docker run -d -p 8000:80 myapp

## Expected behavior
Expecting to be able to run the container with a p

[2017-05-05 21:16] natemcmaster commented on #233
Try looking at the logs. `docker run -d` means "detached" mode. To see the dotnet app's output, run with `docker run -it` or inspect the logs manually with `docker logs`.

Also, did `dotnet --info` and `docker info` really both return `Error code 134`?

[2017-05-08 17:15] DanJ210 commented on #233
@natemcmaster Thanks I will check the logs and see what's going on and report back here. I didn't realize I should have tried to get some logging.

And no `dotnet --info` and `docker --info` didn't return the `Error code 134`. I misunderstood what those areas were for exactly so I filled in only what I thought was supposed to go there, like info. My apologies on mistaking that.

[2017-05-08 17:27] DanJ210 commented on #233
Ok so seeing the logs really helped and sorry to have bothered for something I should have learned on my own...

But what I think is happening, which should be common sense, is that the container won't talk to the SQL Server database like it does when I run it locally, via dotnet run connecting to the local SQL Server instance. So when the container is trying to run the application during containe

[2017-05-08 17:34] natemcmaster commented on #233
@DanJ210 no worries, we're here to help. :)

[code]

This is a common mistake when moving an app that runs on Windows into Linux-based Docker containers. Use `User ID` and `Password` instead in your connection string. Integrated Security is a Windows-only feature. If that doesn't help, checkout these samples: https://www.microsoft.com/en-us/sql-server/developer-get-started/

[2017-05-09 20:08] DanJ210 commented on #233
@natemcmaster Thank you. I did do a few things to ensure I know what I'm doing and I now know how to create a service with a blank .Net Core application and an SQL Server Linux image under an isolated network created with a docker-compose.yml file. I've been able to add data and pull it to confirm it's working.

But when I try to do it with my application, as you've shown above, I'm getting the `'

[2017-05-09 20:09] DanJ210 commented on #233
Oh. The funny thing is that I can run the application and it works fine but when I use `docker-compose up` to turn on the same containers that are built from that same application, that's when I get the `integrated security` issue. Otherwise I don't. Only when `docker-compose up`

[2017-05-10 14:38] DanJ210 commented on #233
@natemcmaster I made a very silly mistake. I had forgotten to republish the application... It was the first time I ever published a dotnet application but that was what happened.

The only thing I have to do now is run `docker-compose up` twice. The first time turns on both the sql server and my application image, but the application tries contacting sql server before it's actually up and running.

[2017-05-10 14:38] #233 closed

[2017-05-10 14:58] natemcmaster commented on #233
Glad you were able to figure it out :)

[2017-05-10 20:49] #215 closed

[2017-05-22 18:56] MichaelSimons opened #236 "Allow testing with remote Docker daemon"
Remove the host dependency from the test script. This will allow the tests to be run against a remote daemon.  While this is nice from a developer's perspective, it is a requirement in order to hook-up the tests to the [image builder tool used in official builds](https://github.com/aspnet/aspnet-docker/pull/235).

See how this was done in microsoft/dotnet [here](https://github.com/dotnet/dotnet-do

[2017-05-23 06:23] carsten-j opened #237 "dotnet publish fails when building in container"
For a out of the box created ASP core 2.0 web api I cannot build the app in the aspnetcore-build container. I get the following error message:
[code]

## Steps to reproduce the issue
1. Clone the repository https://github.com/carsten-j/myApp
2. Run docker build -t myapp ,

## Expected behavior
No error message from dotnet publish

## Actual behavior
The error listed above

## Additional informatio

[2017-05-23 15:33] MichaelSimons commented on #224
Closing as this issue is complete.

[2017-05-23 15:33] #224 closed

[2017-05-23 16:30] natemcmaster opened #239 "Remove node from aspnetcore-build images"
[Multi-stage builds](https://docs.docker.com/engine/userguide/eng-image/multistage-build/) -- new feature coming in Docker 17.05 (currently Edge) -- should make it easier for users to compose a build from multiple images in a single dockerfile. We suspect this will make it possible for users to easily compose together `microsoft/aspnetcore-build` and `node` images to build web apps.

Some areas of

[2017-05-23 16:31] natemcmaster commented on #237
We've had some weird errors like this one caused by working from `/`. Can you try adding this as the second-line in your Dockerfile?

[code]

[2017-05-23 18:57] carsten-j commented on #237
That solved the problem. Thanks.

[2017-05-23 18:57] #237 closed

[2017-05-23 19:23] natemcmaster commented on #237
👍  I'm going to add this to our docs and readme to make this more clear.

[2017-05-25 17:32] natemcmaster commented on #218
Looks like https://github.com/aspnet/aspnet-docker/pull/240 will resolve this, right @MichaelSimons ?

[2017-05-25 17:40] MichaelSimons commented on #218
@natemcmaster, #240 solves half of the problem - the test script.  I am not consolidating the CI build scripts at this time mainly because I have some other work I need to get done.  The driving force behind #240 is to address #236 and I took the opportunity to consolidate the test scripts.

[2017-05-25 18:02] natemcmaster commented on #218
Ok, thanks

[2017-05-25 21:02] #236 closed

[2017-05-31 22:19] g0t4 commented on #239
I see at least two use cases:
- *proj (MSBuild) files that just use the .NET Core SDK
- *proj files that also shell out to other tools, i.e. [SpaTemplates](https://github.com/aspnet/JavaScriptServices/blob/dev/templates/VueSpa/VueSpa.csproj#L31-L33 )

## *proj only uses .NET Core SDK

Here a multi-stage build would be the most flexible and sane approach to have tight control over each build tool a

[2017-06-08 21:08] muratg commented on #228
No action on this repo, so closing.

[2017-06-08 21:08] #228 closed

[2017-06-08 21:09] muratg commented on #229
@DanJ210 did you find out what was wrong? Should the docs be updated?

[2017-06-09 22:20] muratg opened #242 "Create 2.0.0-preview2 docker images"
As usual will depend on the .NET core docker image and nuget packages be out first.

[2017-06-12 20:17] natemcmaster opened #243 "Build nightly docker images"
We should look into producing images that contain nightly builds of ASP.NET Core.

[2017-06-12 20:17] natemcmaster commented on #243
/cc @muratg for triage discussion

[2017-06-14 08:20] aensidhe opened #246 "Move image to debian stretch."
Debian stretch will be [released at June, 17](https://lists.debian.org/debian-devel-announce/2017/05/msg00002.html). I would suggest to move aspnetcore images to debian stretch, because it has newer (and safer) packages like graphicsmagick 1.3.25, not 1.3.20, etc.

Also, it would be new LTS release of Debian.

[2017-06-14 16:07] natemcmaster commented on #246
The aspnetcore images use `microsoft/dotnet` images as their base. I'd suggest opening this request on https://github.com/dotnet/dotnet-docker.

[2017-06-14 17:00] aensidhe commented on #246
[Done](https://github.com/dotnet/dotnet-docker/issues/250), thank you.

[2017-06-14 17:18] #246 closed

[2017-06-26 16:26] MichaelSimons opened #252 "Official builds for the dev branch are broken"
The builds are failing because the tests are failing.  See https://devdiv.visualstudio.com/DevDiv/_build/index?buildId=826022&_a=summary
Specifically see https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=826035

[code]

It looks like this was caused by this change https://github.com/aspnet/aspnet-docker/commit/0fe99ca4a155e2bd129bf86b121834a87126c00f#diff-8e1c9069e

[2017-06-26 21:22] natemcmaster commented on #252
Thanks for the heads up. I'll take a look at fixing this.

[2017-06-27 21:31] natemcmaster commented on #252
Should be resolved by https://github.com/aspnet/aspnet-docker/pull/254, but we may need to revert the latest change to dotnet-nightly because the latest preview2 has preview3 assets in it.

see https://github.com/dotnet/dotnet-docker-nightly/pull/335

[2017-06-27 21:42] natemcmaster commented on #252
Looks like there is an issue tracking this on the dotnet side. Closing as a https://github.com/dotnet/dotnet-docker-nightly/issues/333 should track remaining work.

[2017-06-27 21:42] #252 closed

[2017-06-27 22:15] natemcmaster opened #256 "Automate updates to the nightly image from new builds of aspnetcore"
Currently, nightly builds only run when manually updated. We should investigate using the dotnet-bot or something else to automatically update this to consume new nightly builds of aspnet core.

[2017-06-27 22:16] natemcmaster commented on #243
The work for this is done, however, nightly images do not currently update automatically. I've opened https://github.com/aspnet/aspnet-docker/issues/256 to track improving our CI chain to update this repo automatically when downstream dependencies update.

[2017-06-27 22:16] #243 closed

[2017-06-27 22:19] natemcmaster commented on #218
Fixed in #252.

[2017-06-27 22:19] #218 closed

[2017-06-27 22:20] natemcmaster commented on #189
This item is not relevant anymore now that we use the 'imagebuilder' tool and manifest.json.

[2017-06-27 22:20] #189 closed

[2017-06-28 01:13] #242 closed

[2017-06-29 13:50] MichaelSimons opened #259 "Windows legs of the official builds are timing out occassionally"
https://devdiv.visualstudio.com/DevDiv/_build?tracking_data=eyJTb3VyY2UiOiJFbWFpbCIsIlR5cGUiOiJOb3RpZmljYXRpb24iLCJTSUQiOiI1ODI2NCIsIlNUeXBlIjoiUEVSIiwiUmVjaXAiOjEsIl94Y2kiOnsiTklEIjoxMzE2NTAwNCwiTVJlY2lwIjoibTA9MSAiLCJBY3QiOiI4ODVjYzBiMy1kMmQ3LTRiODYtODQ0Ny0zY2JiYzlkN2VmYTQiLCJmZiI6IkNHRCJ9fQ%3D%3D&buildId=833547

These builds are horrifically slow!  The timeout is already set to 90 minutes.

Rec

[2017-06-29 14:43] natemcmaster commented on #259
What would be the best way to split the Windows build in pipebuild? I've already split the build in AppVeyor.yml because the nanoserver runs so slow

[2017-06-29 16:28] MichaelSimons commented on #259
1. Fix https://github.com/dotnet/docker-tools/issues/24 so that image-builder can build a subset of the images (e.g just the 1.0 Dockerfiles).
2. Parameterize the Windows build definition to take in the folder to build.  Then pass the parameter to image-builder.
3. Modify the https://github.com/aspnet/aspnet-docker/blob/master/build-pipeline/pipeline.json to invoke the windows build definition onc

[2017-06-29 18:29] MichaelSimons commented on #259
I did discover Windows Defender wasn't configured optimally.  I got DDIT to make a tweak to the machine configuration therefore I am going to hold off on merging #260 for the time being.  I am still recommending that the Windows build gets broken into smaller legs.

[2017-07-03 06:56] cmaslen opened #261 "2.0 Preview 2 images don't appear to run against project compiled against 2.0 preview 2"
After updating my SDK (and companion VS version) to Core 2.0 preview 2 running any ASP.NET Core app in the aspnet-docker container fails. I have tried the following images:

- aspnetcore:2.0
- aspnetcore:2.0.0-preview2
- aspnetcore:2.0.0-preview2-stretch

## Steps to reproduce the issue
(e.g. copy your Dockerfile or docker-compose.yml file here)
1. After downloading VS 2017 (15.3.0 Preview 3.0), c

[2017-07-03 16:23] natemcmaster commented on #261
Can you share your csproj file as well?

[2017-07-03 22:11] cmaslen commented on #261
Hi @natemcmaster,

Thanks for the reply. Below is the project file:

    <Project Sdk="Microsoft.NET.Sdk.Web">

      <PropertyGroup>
        <TargetFramework>netcoreapp2.0</TargetFramework>
        <DockerComposeProjectPath>..\docker-compose.dcproj</DockerComposeProjectPath>
      </PropertyGroup>

      <ItemGroup>
        <Folder Include="wwwroot\" />
      </ItemGroup>

      <ItemGroup>

[2017-07-03 22:18] natemcmaster commented on #261
You project is still using AspNetCore 1.1 packages. Upgrade your PackageReference's to 2.0.0-preview2.

[2017-07-03 22:43] cmaslen commented on #261
Hi @natemcmaster,

That appears to have fixed it although the exact versions are not all preveiw2. Below is my corrected project file:

    <Project Sdk="Microsoft.NET.Sdk.Web">

      <PropertyGroup>
        <TargetFramework>netcoreapp2.0</TargetFramework>
        <DockerComposeProjectPath>..\docker-compose.dcproj</DockerComposeProjectPath>
      </PropertyGroup>

      <ItemGroup>
        <Folde

[2017-07-03 22:44] #261 closed

[2017-07-06 16:34] muratg opened #262 "Create 2.0.0 docker images"
This is in 2.0.0 milestone, but it'll be done after everything else.

[2017-07-06 17:19] kalib opened #263 "Container is killed after a few minutes with traps: dotnet[25812] general protection ip:7fd856cd9532 sp:7fd8514761e0 error:0 in libc-2.19.so[7fd856ca3000+1a1000]"
I can build and create my docker image using `FROM microsoft/aspnetcore:1.1` as a base image.
I can then transfer my image to AWS ECR when I create a new linux instance (CentOS 7) and install docker, I can pull my image from ECR and start my container on this instance. My dotnet application works fine for a few minutes (around 40) and gets terminated. On the instance (host), I can check dmesg and

[2017-07-06 17:24] natemcmaster commented on #263
@kalib can you also share the application's logs? It would be good to know if the container is being killed externally, or if something in your application is causing the app to crash (and the container to naturally exit).

[2017-07-06 17:39] kalib commented on #263
Unfortunately the developer is not here today, but with your request, I decided to run `docker logs -f MYCONTAINER-ID` and got this when the application/container died:

Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object.
   at AWS.Logger.Core.AWSLoggerCore.Finalize()

I can't check the logs for the application, because it's a new application a

[2017-07-06 17:44] natemcmaster commented on #263
The logger error may be a red-herring, but still might we worth opening an issue on https://github.com/aws/aws-logging-dotnet.

Would be good to get the rest of the logs. If there aren't any, I recommend adding a file logger such as Serilog so you can get more details about what is killing the app.

[2017-07-06 17:51] guyspygit commented on #263
Still, when you asked about the logs for the application I found that information that gave me more clues about what coudl be wrong.. seem to be with the logging to aws. Will talk to our developer, disable that logging for a few hours and see if the container will die again and also ask him for the application logs. Will be back here telling the results soon.
Thanks for the very quick support.

[2017-07-06 18:00] natemcmaster commented on #262
Nightly builds are in sync with the latest dotnet-CLI. As they update, we'll rev the dev branch until we have final builds of the runtime.

[2017-07-06 18:28] kalib commented on #263
Still, when you asked about the logs for the application I found that information that gave me more clues about what could be wrong.. seem to be with the logging to aws. Will talk to our developer, disable that logging for a few hours and see if the container will die again and also ask him for the application logs. Will be back here telling the results soon.
Thanks for the very quick support.

[2017-07-06 18:31] natemcmaster commented on #214
@herecydev did you try this? https://docs.microsoft.com/en-us/dotnet/core/docker/visual-studio-tools-for-docker#debugging

[2017-07-06 18:33] natemcmaster commented on #232
@billpratt where you able to figure out the cause of the issue?

[2017-07-06 18:51] natemcmaster commented on #229
@DanJ210  I looked at your repo. It appears the problem is your `.dockerignore` file. The repro you send me contains this:
[code]
When you are building the `Dockerfile.build` file, `aspnetapp.csproj` is ignored because it matches  `*`.

The second problem is the `COPY . .` line. The repro you send included the `obj/` and `bin/` folder.  The COPY line is copying your `obj/` and `bin/` folders into

[2017-07-06 18:51] #229 closed

[2017-07-06 21:04] kalib commented on #263
Well, after disabling the nlog configuration (that was trying to send the logs to aws), the container is up and running for the last 3 hours so I guess that was the problem. Will better check that issue. Thanks again.

[2017-07-06 21:09] natemcmaster commented on #263
Ok, let's close this for now as external to ASP.NET Core. Happy to re-open for more investigation if you find something wrong in ASP.NET Core that we can help fix.

[2017-07-06 21:09] #263 closed

[2017-07-06 21:55] billpratt commented on #232
I was not able to and it wasn't a huge concern for our needs so I moved on. I'll close the issue

[2017-07-06 21:55] #232 closed

[2017-07-07 13:13] kalib commented on #263
Sure thing, thanks.

[2017-07-11 16:48] #259 closed

[2017-07-11 18:22] natemcmaster commented on #262
Blocked on https://github.com/Microsoft/msbuild/issues/2273

[2017-07-11 19:28] MichaelSimons opened #268 "Upgrade to microsoft/nanoserver:10.0.14393.1480 base image"
The nanoserver base images should be upgraded to 10.0.14393.1480.

[2017-07-11 19:46] ravimeda opened #270 "aspnet-docker-windows-images official build leg failure."
## Steps to reproduce the issue
Perform an official build.

## Expected behavior
All build legs succeed.

## Actual behavior
aspnet-docker-windows-images fails https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=855095

[code]

[2017-07-11 20:41] natemcmaster commented on #270
This is caused by regression in MSBuild https://github.com/Microsoft/msbuild/issues/2273 and should only be affecting nightly builds. We're expecting a fix soon.

[2017-07-11 21:05] #268 closed

[2017-07-13 17:08] natemcmaster commented on #270
Should be fixed by https://github.com/dotnet/dotnet-docker-nightly/pull/362.

[2017-07-13 17:08] #270 closed

[2017-07-18 08:50] heebj opened #271 "Running aspnetcore-build as non-root with --user fails"
I want to use the aspnetcore-build image to compile my code on our continuous integration server. However the build user is not root and I need to start the docker container with the --user parameter so that the build output has the correct owner in the mounted src directory:

[code]

When I start the build task I get the following error:
[code]

It seems that most files of the .NET Core SDK in th

[2017-07-18 17:15] natemcmaster commented on #271
This looks like a duplicate of https://github.com/NuGet/Home/issues/5106 and https://github.com/dotnet/dotnet-docker/issues/229

[2017-07-19 13:51] heebj commented on #271
Not only nuget seems to be the problem. Also when running code inside a dotnet container it tries to access a files in the not existing home directory of the running user:

`
System.UnauthorizedAccessException: Access to the path '/home/exchangePublic/.dotnet/corefx/cryptography/crls' is denied. ---> System.IO.IOException: Permission denied
`

[2017-07-19 16:55] natemcmaster commented on #204
I'm assuming this file would look like https://github.com/docker-library/repo-info/blob/master/repos/debian/tag-details.md, right? How do you plan to generate these files for microsoft/dotnet?

[2017-07-21 17:19] natemcmaster commented on #271
It seems like the customer user you are attempting to use isn't configured correctly. How did you create the user in the container?

[2017-07-22 10:13] heebj commented on #271
I did not create the running user within the container but on the host system and pass it via the --user parameter when calling `docker run`.

[2017-07-24 17:18] natemcmaster commented on #271
@heebj you should define the user in the docker container before you run it. The base image uses the default docker user (root). Assuming you're using the default Linux image (debian), you need to call `useradd` and `groupadd` to define the user, home folder, group, etc. For example: https://gist.github.com/alkrauss48/2dd9f9d84ed6ebff9240ccfa49a80662

[2017-07-26 09:30] heebj commented on #271
@natemcmaster That's what we finally did to get it running, thanks.

But what about the aspnetcore-build image? I think the image should be useable in a CI environment as non root without having to derive a specific Dockerfile. I once also got an error that `dotnet.dll` cannot be accessed when building code in the mounted directory. `dotnet.dll` is only readable for root...

[2017-07-27 00:46] natemcmaster commented on #271
This is not something we plan to change. Our images use the default user as specified in the lowest-level images. i.e. try this: `docker run --rm debian:jessie whoami`

It should be readable by owner, user, and group, but if you can get a minimal repro let me know. Here is what I see in `microsoft/aspnetcore-build:1.1.2`
[code]